In [9]:
import pandas as pd
from datetime import datetime
import re

all_sheets = pd.read_excel("/Users/azmanizakary/Downloads/Integrated_Data_BAM.xlsx", sheet_name=None, index_col=0)

"""Iterate through all sheets
for sheet_name, df in all_sheets.items():
    print(f"Sheet Name: {sheet_name}")
    print(df.head())"""

'Iterate through all sheets\nfor sheet_name, df in all_sheets.items():\n    print(f"Sheet Name: {sheet_name}")\n    print(df.head())'

In [10]:
# All names of Dataframes by Sheet name

print(all_sheets.keys())

dict_keys(['unemployment_rate', 'extra_unemployment_rate', 'gov_total_expense_revenue', 'money_supply', 'bonds', 'cpi', 'economic_growth', 'import_export', 'uk_home_retail', 'seasonal_retail_sales', 'uk_building', 'uk_affordability_index', 'uk_retail_price', 'mortage', 'construction_cost_prices_sales', 'mortage_interest_rate', 'company_revenue', 'operating_expenses'])

In [11]:
all_sheets['extra_unemployment_rate']

         Unemployment Rate Unemployment (Thousands)     Female     Male
Date
Dec 2024                --                       --         --       --
Nov 2024               4.4                     1568        4.2      4.7
Oct 2024               4.3                     1508          4      4.6
Sep 2024               4.3                     1509        4.1      4.5
Aug 2024               4.1                     1435          4      4.2
...                    ...                      ...        ...      ...
Sep 2018               4.1                     1382          4      4.2
Aug 2018                 4                     1368          4      4.1
Jul 2018                 4                     1363          4        4
Jun 2018                 4                     1367          4      4.1
May 2018               4.2                     1413        4.1      4.2

[80 rows x 4 columns]

Clean data for columns that have all null values

In [12]:
# Drop unnamed columns, using this to clean data as tables such as Extra Unemployment Rate have been converted weirdly, giving extra null columns where there aren't any
def drop_unnamed_columns(df):
    return df.loc[:, ~df.columns.str.contains('^Unnamed')]

cleaned_columns = {name: drop_unnamed_columns(df) for name, df in all_sheets.items()}

cleaned_columns['extra_unemployment_rate']

         Unemployment Rate Unemployment (Thousands)     Female     Male
Date
Dec 2024                --                       --         --       --
Nov 2024               4.4                     1568        4.2      4.7
Oct 2024               4.3                     1508          4      4.6
Sep 2024               4.3                     1509        4.1      4.5
Aug 2024               4.1                     1435          4      4.2
...                    ...                      ...        ...      ...
Sep 2018               4.1                     1382          4      4.2
Aug 2018                 4                     1368          4      4.1
Jul 2018                 4                     1363          4        4
Jun 2018                 4                     1367          4      4.1
May 2018               4.2                     1413        4.1      4.2

[80 rows x 4 columns]

Dropping fully null rows

In [13]:
cleaned_data = {}

for sheet_name, df in cleaned_columns.items():
    print(f"\nðŸ“„ Cleaning Sheet: {sheet_name}")

    try:
        # ðŸš€ Drop rows where all values are null
        df_cleaned = df.dropna(how="all")

        # Store the cleaned DataFrame
        cleaned_data[sheet_name] = df_cleaned

        # Print number of rows dropped
        rows_dropped = len(df) - len(df_cleaned)
        print(f"âœ… Dropped {rows_dropped} fully null rows from {sheet_name}")

    except Exception as e:
        print(f"âŒ Error cleaning {sheet_name}: {e}")

ðŸ“„ Cleaning Sheet: unemployment_rate
âœ… Dropped 0 fully null rows from unemployment_rate

ðŸ“„ Cleaning Sheet: extra_unemployment_rate
âœ… Dropped 0 fully null rows from extra_unemployment_rate

ðŸ“„ Cleaning Sheet: gov_total_expense_revenue
âœ… Dropped 0 fully null rows from gov_total_expense_revenue

ðŸ“„ Cleaning Sheet: money_supply
âœ… Dropped 0 fully null rows from money_supply

ðŸ“„ Cleaning Sheet: bonds
âœ… Dropped 0 fully null rows from bonds

ðŸ“„ Cleaning Sheet: cpi
âœ… Dropped 0 fully null rows from cpi

ðŸ“„ Cleaning Sheet: economic_growth
âœ… Dropped 0 fully null rows from economic_growth

ðŸ“„ Cleaning Sheet: import_export
âœ… Dropped 0 fully null rows from import_export

ðŸ“„ Cleaning Sheet: uk_home_retail
âœ… Dropped 0 fully null rows from uk_home_retail

ðŸ“„ Cleaning Sheet: seasonal_retail_sales
âœ… Dropped 0 fully null rows from seasonal_retail_sales

ðŸ“„ Cleaning Sheet: uk_building
âœ… Dropped 0 fully null rows from uk_building

ðŸ“„ Cleaning Sheet: uk_affordability_index
âœ… Dropped 0 fully null rows from uk_affordability_index

ðŸ“„ Cleaning Sheet: uk_retail_price
âœ… Dropped 0 fully null rows from uk_retail_price

ðŸ“„ Cleaning Sheet: mortage
âœ… Dropped 0 fully null rows from mortage

ðŸ“„ Cleaning Sheet: construction_cost_prices_sales
âœ… Dropped 0 fully null rows from construction_cost_prices_sales

ðŸ“„ Cleaning Sheet: mortage_interest_rate
âœ… Dropped 0 fully null rows from mortage_interest_rate

ðŸ“„ Cleaning Sheet: company_revenue
âœ… Dropped 0 fully null rows from company_revenue

ðŸ“„ Cleaning Sheet: operating_expenses
âœ… Dropped 0 fully null rows from operating_expenses

Checking Null Values for Each Sheet

In [14]:
for sheet_name, df in cleaned_columns.items():
    # Check for missing values per column
    missing_values = df.isnull().sum()

    # Display results
    print(f"\nSheet: {sheet_name}")
    print("Missing Values Per Column:")
    print(missing_values)

    # Check if there are any null values
    total_missing = missing_values.sum()
    if total_missing == 0:
        print("âœ… No missing values in this sheet.")
    else:
        print(f"âš ï¸Total missing values in this sheet: {total_missing}")

Sheet: unemployment_rate
Missing Values Per Column:
Unenployment Rate     0
Population           10
dtype: int64
âš ï¸Total missing values in this sheet: 10

Sheet: extra_unemployment_rate
Missing Values Per Column:
Unemployment Rate           0
Unemployment (Thousands)    0
    Female                  0
    Male                    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: gov_total_expense_revenue
Missing Values Per Column:
Expense               0
Revenue               0
Surplus or Deficit    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: money_supply
Missing Values Per Column:
M1                    0
M2                    0
M2 YOY Growth Rate    0
M3                    0
M3 YOY Growth Rate    0
M4                    0
M4 YOY Growth Rate    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: bonds
Missing Values Per Column:
5 Year     0
10 Year    0
20 Year    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: cpi
Missing Values Per Column:
CPI                       0
CPI Annual Growth Rate    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: economic_growth
Missing Values Per Column:
GBP to USD Exchange Rate    0
Economic Growth Rate        4
dtype: int64
âš ï¸Total missing values in this sheet: 4

Sheet: import_export
Missing Values Per Column:
Import    0
Export    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: uk_home_retail
Missing Values Per Column:
UK Home Sales                           80
    United Kingdom                       0
    Great Britain                        0
    England                              0
    Scotland                             0
                                        ..
            West Midlands               36
            Yorkshire and Humberside    36
            Northern                    36
            Outer South East            36
            Outer Metropolitan Area     36
Length: 473, dtype: int64
âš ï¸Total missing values in this sheet: 748

Sheet: seasonal_retail_sales
Missing Values Per Column:
Retail Sale Volume Index     0
Revenue                     11
dtype: int64
âš ï¸Total missing values in this sheet: 11

Sheet: uk_building
Missing Values Per Column:
Building (Housing) Starts    0
Building Completions         0
    Local Authorities        0
dtype: int64
âœ… No missing values in this sheet.

Sheet: uk_affordability_index
Missing Values Per Column:
East Anglia                 0
East Midlands               0
London                      0
Northern Ireland            0
North West England          0
Scotland                    0
South West England          0
Wales                       0
West Midlands               0
Yorkshire and Humberside    0
Northern                    0
Outer South East            0
Outer Metropolitan Area     0
dtype: int64
âœ… No missing values in this sheet.

Sheet: uk_retail_price
Missing Values Per Column:
Index of Private Housing Rental Prices    0
    excluding London                      0
    England                               0
        excluding London                  0
        London                            0
        East                              0
        East Midlands                     0
        North East                        0
        South East England                0
        North West                        0
        South West England                0
        West Midlands                     0
        Yorkshire and Humberside          0
    Scotland                              0
    Wales                                 0
dtype: int64
âœ… No missing values in this sheet.

Sheet: mortage
Missing Values Per Column:
All Lenders (GBP)                  0
House Purchase                     0
Remortgaging                       0
Other Secured Lending              0
Monetary Financial Institutions    0
Other Specialist Lenders           0
dtype: int64
âœ… No missing values in this sheet.

Sheet: construction_cost_prices_sales
Missing Values Per Column:
Construction Output/Sales (GBP)                           36
New Housing                                               36
Public and Housing Associations                           36
Private Housing                                           36
Other New Work                                            36
Infrastructure                                            36
Other Public Work Excluding Infrastructure                36
Other Private Industrial Work Excluding Infrastructure    36
Other Private Commercial Work Excluding Infrastructure    36
Construction Costs/Prices                                  0
Housing                                                    0
New Work                                                   0
Infrastructure2                                            0
Public Works                                               0
Private Industrial                                         0
Private Commercial                                         0
Repair and Maintenance                                     0
Housing3                                                   0
Non-Housing Repair and Maintenance                         0
dtype: int64
âš ï¸Total missing values in this sheet: 324

Sheet: mortage_interest_rate
Missing Values Per Column:
Lifetime Tracker          0
Standard Variable Rate    0
2 Years                   0
3 Years                   0
5 Years                   0
10 Years                  0
2 Years2                  0
5 Years3                  0
2 Years4                  0
2 Years5                  0
2 Years6                  0
dtype: int64
âœ… No missing values in this sheet.

Sheet: company_revenue
Missing Values Per Column:
Ashtead Group PLC (AHT.L)                         0
Babcock International Group PLC (BAB.L)           0
Column1                                           0
Caterpillar Inc (CAT)                             0
Hitachi Construction Machinery Co Ltd (6305.T)    0
J.C. Bamford Excavators Ltd (4296370337)          0
Komatsu Ltd (6301.T)                              0
Liebherr-International Ltd (4298321885)           0
Speedy Hire PLC (SDY.L)                           0
Terex Corp (TEX)                                  0
dtype: int64
âœ… No missing values in this sheet.

Sheet: operating_expenses
Missing Values Per Column:
Ashtead Group PLC (AHT.L)                         0
Babcock International Group PLC (BAB.L)           0
Column1                                           0
Caterpillar Inc (CAT)                             0
Hitachi Construction Machinery Co Ltd (6305.T)    0
J.C. Bamford Excavators Ltd (4296370337)          0
Komatsu Ltd (6301.T)                              0
Liebherr-International Ltd (4298321885)           0
Speedy Hire PLC (SDY.L)                           0
Terex Corp (TEX)                                  0
dtype: int64
âœ… No missing values in this sheet.

In [15]:
# Function to drop columns with more than 35% missing data with error handling
def drop_columns(df, threshold = 0.35):
    # Calculate the percentage of missing values in each column
    missing_percentage = df.isnull().mean()

    # Identify columns where the percentage of missing values exceeds the threshold
    columns_to_drop = missing_percentage[missing_percentage > threshold].index

    # If ALL columns exceed the threshold, drop only the worst ones and keep at least one column
    if len(columns_to_drop) == len(df.columns):
        print(f"Warning: All columns in the DataFrame exceed the {threshold*100}% missing data threshold.")
        # Keep the column with the least missing data
        column_to_keep = missing_percentage.idxmin()
        columns_to_drop = columns_to_drop.drop(column_to_keep)

    # Drop the identified columns
    return df.drop(columns=columns_to_drop)

cleaned_df = {name: drop_columns(df) for name, df in cleaned_columns.items()}

In [16]:
# Comparison for new dataset
for sheet_name, df in cleaned_df.items():
    print(f"Sheet: {sheet_name}")
    print(f"Columns: {df.columns}")
    print(f"Shape: {df.shape}")
    print(df.head())
    print("\n")

Sheet: unemployment_rate
Columns: Index(['Unenployment Rate', 'Population'], dtype='object')
Shape: (178, 2)
         Unenployment Rate  Population
YYMM
2024/10                4.3         NaN
2024/09                4.3         NaN
2024/08                4.1         NaN
2024/07                4.2         NaN
2024/06                4.2         NaN


Sheet: extra_unemployment_rate
Columns: Index(['Unemployment Rate', 'Unemployment (Thousands)', '    Female',
       '    Male'],
      dtype='object')
Shape: (80, 4)
         Unemployment Rate Unemployment (Thousands)     Female     Male
Date
Dec 2024                --                       --         --       --
Nov 2024               4.4                     1568        4.2      4.7
Oct 2024               4.3                     1508          4      4.6
Sep 2024               4.3                     1509        4.1      4.5
Aug 2024               4.1                     1435          4      4.2


Sheet: gov_total_expense_revenue
Columns: Index(['Expense', 'Revenue', 'Surplus or Deficit'], dtype='object')
Shape: (14, 3)
         Expense  Revenue  Surplus or Deficit
YYMM
2023/12  1201.48  1039.26             -162.22
2022/12  1113.20   994.39             -118.82
2021/12  1048.01   868.38             -179.63
2020/12  1050.83   774.33             -276.50
2019/12   865.30   809.86              -55.43


Sheet: money_supply
Columns: Index(['M1', 'M2', 'M2 YOY Growth Rate', 'M3', 'M3 YOY Growth Rate', 'M4',
       'M4 YOY Growth Rate'],
      dtype='object')
Shape: (179, 7)
              M1       M2  M2 YOY Growth Rate       M3  M3 YOY Growth Rate  \
YYMM
2024/11  2221455  3067494                2.43  3579952                2.68
2024/10  2217494  3062782                2.43  3567812                2.34
2024/09  2205040  3044830                0.09  3549183                0.11
2024/08  2180414  3024072               -0.56  3516038               -1.29
2024/07  2206676  3040913               -0.03  3544273                0.22

              M4  M4 YOY Growth Rate
YYMM
2024/11  3077109                2.99
2024/10  3078011                3.01
2024/09  3083178                3.38
2024/08  3065166                1.40
2024/07  3067715                1.83


Sheet: bonds
Columns: Index(['5 Year', '10 Year', '20 Year'], dtype='object')
Shape: (180, 3)
         5 Year  10 Year  20 Year
YYMM
2024/12    4.12     4.41     4.65
2024/11    4.15     4.42     4.65
2024/10    3.90     4.20     4.47
2024/09    3.65     3.91     4.19
2024/08    3.72     3.94     4.21


Sheet: cpi
Columns: Index(['CPI', 'CPI Annual Growth Rate'], dtype='object')
Shape: (179, 2)
           CPI  CPI Annual Growth Rate
YYMM
2024/11  134.6                     3.5
2024/10  134.3                     3.1
2024/09  133.5                     2.6
2024/08  133.4                     3.1
2024/07  132.9                     3.0


Sheet: economic_growth
Columns: Index(['GBP to USD Exchange Rate', 'Economic Growth Rate'], dtype='object')
Shape: (181, 2)
         GBP to USD Exchange Rate  Economic Growth Rate
YYMM
2025/01                    1.2362                   NaN
2024/12                    1.2514                   NaN
2024/11                    1.2736                   NaN
2024/10                    1.2898                   NaN
2024/09                    1.3374                   0.9


Sheet: import_export
Columns: Index(['Import', 'Export'], dtype='object')
Shape: (178, 2)
         Import  Export
YYMM
2024/10   47397   28428
2024/09   44781   28460
2024/08   47776   32564
2024/07   47732   29051
2024/06   51143   31854


Sheet: uk_home_retail
Columns: Index(['    United Kingdom', '    Great Britain', '    England',
       '    Scotland', '    Northern Ireland', '    East Midlands',
       '    London', '    North East England', '    North West England',
       '    South West England',
       ...
       '        East', '        East Midlands', '        North East',
       '        South East England', '        North West',
       '        South West England', '        West Midlands',
       '        Yorkshire and Humberside', '    Scotland.1', '    Wales.1'],
      dtype='object', length=456)
Shape: (80, 456)
          United Kingdom  Great Britain  England  Scotland  Northern Ireland  \
Date
Sep 2024           49713          47722    37258      8360              1991
Aug 2024           59319          57328    44874      9879              1991
Jul 2024           61319          59328    47862      8728              1991
Jun 2024           55893          54088    43022      8599              1805
May 2024           62193          60388    48601      9115              1805

          East Midlands  London  North East England  North West England  \
Date
Sep 2024           3335    4228              1766.0                4996
Aug 2024           4042    5433              2210.0                5927
Jul 2024           4248    5953              2303.0                6460
Jun 2024           3793    5085              2206.0                5632
May 2024           4379    5705              2583.0                6551

          South West England  ...      East      East Midlands  \
Date                          ...
Sep 2024                4618  ...       8.4                8.3
Aug 2024                5343  ...       8.4                8.3
Jul 2024                5586  ...       8.0                9.1
Jun 2024                5193  ...       7.9                8.8
May 2024                5535  ...       7.6                9.2

              North East      South East England      North West  \
Date
Sep 2024             8.9                     7.9             9.6
Aug 2024             8.4                     8.2            10.0
Jul 2024             7.7                     8.2             9.7
Jun 2024             7.3                     7.9             9.3
May 2024             6.7                     7.7             9.2

              South West England      West Midlands  \
Date
Sep 2024                     6.9                8.7
Aug 2024                     6.5                8.7
Jul 2024                     6.2                8.7
Jun 2024                     6.3                8.8
May 2024                     6.4                9.2

              Yorkshire and Humberside  Scotland.1  Wales.1
Date
Sep 2024                           5.4         6.9      8.5
Aug 2024                           5.7         6.5      8.0
Jul 2024                           5.9         6.6      7.9
Jun 2024                           6.3         7.2      8.3
May 2024                           7.0         7.6      8.5

[5 rows x 456 columns]


Sheet: seasonal_retail_sales
Columns: Index(['Retail Sale Volume Index', 'Revenue'], dtype='object')
Shape: (179, 2)
         Retail Sale Volume Index  Revenue
YYMM
2024/11                      98.4      NaN
2024/10                      98.2      NaN
2024/09                      98.9      NaN
2024/08                      99.1      NaN
2024/07                      98.2      NaN


Sheet: uk_building
Columns: Index(['Building (Housing) Starts', 'Building Completions',
       '    Local Authorities'],
      dtype='object')
Shape: (42, 3)
         Building (Housing) Starts  Building Completions  \
Date
Q2 2024                      22990                 43030
Q1 2024                      22580                 37620
Q4 2023                      20270                 40120
Q3 2023                      21210                 41640
Q2 2023                      66060                 38930

             Local Authorities
Date
Q2 2024                    610
Q1 2024                   1090
Q4 2023                    760
Q3 2023                    620
Q2 2023                    390


Sheet: uk_affordability_index
Columns: Index(['            East Anglia', '            East Midlands',
       '            London', '            Northern Ireland',
       '            North West England', '            Scotland',
       '            South West England', '            Wales',
       '            West Midlands', '            Yorkshire and Humberside',
       '            Northern', '            Outer South East',
       '            Outer Metropolitan Area'],
      dtype='object')
Shape: (28, 13)
         East Anglia  East Midlands  London  Northern Ireland  \
Date
Q4 2020         80.3           90.4    90.2              76.1
Q3 2020         78.5           86.7    88.4              73.5
Q2 2020         78.0           85.9    86.8              72.0
Q1 2020         79.0           88.6    86.4              75.8
Q4 2019         79.2           86.2    87.2              73.0

         North West England  Scotland  South West England  Wales  \
Date
Q4 2020                77.8      56.0                81.4   74.7
Q3 2020                75.4      53.9                80.0   71.8
Q2 2020                76.6      54.2                80.7   72.3
Q1 2020                77.1      55.0                79.8   73.4
Q4 2019                74.5      55.6                80.1   71.9

         West Midlands  Yorkshire and Humberside  Northern  Outer South East  \
Date
Q4 2020           91.5                      63.2      48.5              85.9
Q3 2020           87.0                      61.2      46.7              83.4
Q2 2020           88.3                      59.8      47.2              83.7
Q1 2020           88.7                      62.6      47.2              84.5
Q4 2019           88.3                      60.5      48.0              83.4

         Outer Metropolitan Area
Date
Q4 2020                     84.4
Q3 2020                     83.8
Q2 2020                     82.2
Q1 2020                     82.8
Q4 2019                     82.9


Sheet: uk_retail_price
Columns: Index(['Index of Private Housing Rental Prices', '    excluding London',
       '    England', '        excluding London', '        London',
       '        East', '        East Midlands', '        North East',
       '        South East England', '        North West',
       '        South West England', '        West Midlands',
       '        Yorkshire and Humberside', '    Scotland', '    Wales'],
      dtype='object')
Shape: (80, 15)
          Index of Private Housing Rental Prices     excluding London  \
Date
Dec 2024                                     9.1                   --
Nov 2024                                     9.1                   --
Oct 2024                                     8.7                   --
Sep 2024                                     8.4                   --
Aug 2024                                     8.4                   --

              England         excluding London          London          East  \
Date
Dec 2024          9.2                       --            11.5           8.4
Nov 2024          9.3                       --            11.6           8.4
Oct 2024          8.8                       --            10.4           8.0
Sep 2024          8.5                       --             9.8           7.9
Aug 2024          8.5                       --             9.6           7.6

                  East Midlands          North East  \
Date
Dec 2024                    8.3                 8.9
Nov 2024                    8.3                 8.4
Oct 2024                    9.1                 7.7
Sep 2024                    8.8                 7.3
Aug 2024                    9.2                 6.7

                  South East England          North West  \
Date
Dec 2024                         7.9                 9.6
Nov 2024                         8.2                10.0
Oct 2024                         8.2                 9.7
Sep 2024                         7.9                 9.3
Aug 2024                         7.7                 9.2

                  South West England          West Midlands  \
Date
Dec 2024                         6.9                    8.7
Nov 2024                         6.5                    8.7
Oct 2024                         6.2                    8.7
Sep 2024                         6.3                    8.8
Aug 2024                         6.4                    9.2

                  Yorkshire and Humberside      Scotland      Wales
Date
Dec 2024                               5.4           6.9        8.5
Nov 2024                               5.7           6.5        8.0
Oct 2024                               5.9           6.6        7.9
Sep 2024                               6.3           7.2        8.3
Aug 2024                               7.0           7.6        8.5


Sheet: mortage
Columns: Index(['All Lenders (GBP)', 'House Purchase', 'Remortgaging',
       'Other Secured Lending', 'Monetary Financial Institutions',
       'Other Specialist Lenders'],
      dtype='object')
Shape: (79, 6)
          All Lenders (GBP)  House Purchase  Remortgaging  \
Date
Nov 2024              23049           16494          6728
Oct 2024              23748           16753          6977
Sep 2024              22679           15803          6677
Aug 2024              21928           15451          5871
Jul 2024              20997           14499          5166

          Other Secured Lending  Monetary Financial Institutions  \
Date
Nov 2024                    637                            23017
Oct 2024                    700                            22914
Sep 2024                    696                            21088
Aug 2024                    612                            19808
Jul 2024                    579                            18729

          Other Specialist Lenders
Date
Nov 2024                      1316
Oct 2024                      1299
Sep 2024                      1140
Aug 2024                      1163
Jul 2024                       955


Sheet: construction_cost_prices_sales
Columns: Index(['Construction Costs/Prices', 'Housing', 'New Work', 'Infrastructure2',
       'Public Works', 'Private Industrial', 'Private Commercial',
       'Repair and Maintenance', 'Housing3',
       'Non-Housing Repair and Maintenance'],
      dtype='object')
Shape: (79, 10)
        Construction Costs/Prices Housing New Work Infrastructure2  \
Date
Q3 2024                        --      --       --              --
Q2 2024                        --      --       --              --
Q1 2024                     136.3   149.3    143.3           140.4
Q4 2023                     136.1     149    143.1           140.1
Q3 2023                     136.2   149.5    143.3           140.2

        Public Works Private Industrial Private Commercial  \
Date
Q3 2024           --                 --                 --
Q2 2024           --                 --                 --
Q1 2024        138.1              144.3              138.1
Q4 2023        137.8                144              137.8
Q3 2023        137.9              144.3              137.9

        Repair and Maintenance Housing3 Non-Housing Repair and Maintenance
Date
Q3 2024                     --       --                                 --
Q2 2024                     --       --                                 --
Q1 2024                  123.7    121.3                              126.3
Q4 2023                  123.7    121.2                              126.2
Q3 2023                  123.7    121.2                              126.2


Sheet: mortage_interest_rate
Columns: Index(['Lifetime Tracker', 'Standard Variable Rate', '2 Years', '3 Years',
       '5 Years', '10 Years', '2 Years2', '5 Years3', '2 Years4', '2 Years5',
       '2 Years6'],
      dtype='object')
Shape: (80, 11)
         Lifetime Tracker Standard Variable Rate 2 Years 3 Years 5 Years  \
Date
Dec 2024               --                     --      --      --      --
Nov 2024             6.44                   7.59    4.53    4.44    4.31
Oct 2024             6.51                    7.7    4.41    4.28    4.07
Sep 2024             6.51                    7.7    4.58    4.43    4.09
Aug 2024             6.54                   7.86     4.8    4.62    4.33

         10 Years 2 Years2 5 Years3  2 Years4 2 Years5 2 Years6
Date
Dec 2024       --       --       --      5.36       --      5.4
Nov 2024     4.66     5.68     5.23      5.41     5.21     5.51
Oct 2024     4.68     5.61     5.13      5.30     5.39     5.53
Sep 2024      4.8     5.76     5.23      5.40     5.45     5.55
Aug 2024     4.85      5.9     5.33      5.54      5.5     5.72


Sheet: company_revenue
Columns: Index(['Ashtead Group PLC (AHT.L)', 'Babcock International Group PLC (BAB.L)',
       'Column1', 'Caterpillar Inc (CAT)',
       'Hitachi Construction Machinery Co Ltd (6305.T)',
       'J.C. Bamford Excavators Ltd (4296370337)', 'Komatsu Ltd (6301.T)',
       'Liebherr-International Ltd (4298321885)', 'Speedy Hire PLC (SDY.L)',
       'Terex Corp (TEX)'],
      dtype='object')
Shape: (10, 10)
            Ashtead Group PLC (AHT.L)  \
Revenues
30-04-2024                   10858.70
30-04-2023                    9667.30
30-04-2022                    7962.30
30-04-2021                    6638.60
30-04-2020                    6395.35

            Babcock International Group PLC (BAB.L)  Column1  \
Revenues
30-04-2024                                   4390.1     7993
30-04-2023                                   4438.6     7629
30-04-2022                                   4101.8     7202
30-04-2021                                   3971.6     7318
30-04-2020                                   4428.5     7313

            Caterpillar Inc (CAT)  \
Revenues
30-04-2024                  67060
30-04-2023                  59427
30-04-2022                  50971
30-04-2021                  41748
30-04-2020                  53800

            Hitachi Construction Machinery Co Ltd (6305.T)  \
Revenues
30-04-2024                                         1405928
30-04-2023                                         1264927
30-04-2022                                         1024961
30-04-2021                                          813331
30-04-2020                                          931347

            J.C. Bamford Excavators Ltd (4296370337)  Komatsu Ltd (6301.T)  \
Revenues
30-04-2024                                    5331.2               3865122
30-04-2023                                    4395.7               3543475
30-04-2022                                    3438.3               2802323
30-04-2021                                    2437.0               2189512
30-04-2020                                    3243.1               2444870

            Liebherr-International Ltd (4298321885)  Speedy Hire PLC (SDY.L)  \
Revenues
30-04-2024                                    14042                    421.5
30-04-2023                                    12589                    440.6
30-04-2022                                    11639                    386.8
30-04-2021                                    10341                    332.3
30-04-2020                                    11750                    371.5

            Terex Corp (TEX)
Revenues
30-04-2024            5151.5
30-04-2023            4417.7
30-04-2022            3886.8
30-04-2021            3076.4
30-04-2020            4353.1


Sheet: operating_expenses
Columns: Index(['Ashtead Group PLC (AHT.L)', 'Babcock International Group PLC (BAB.L)',
       'Column1', 'Caterpillar Inc (CAT)',
       'Hitachi Construction Machinery Co Ltd (6305.T)',
       'J.C. Bamford Excavators Ltd (4296370337)', 'Komatsu Ltd (6301.T)',
       'Liebherr-International Ltd (4298321885)', 'Speedy Hire PLC (SDY.L)',
       'Terex Corp (TEX)'],
      dtype='object')
Shape: (10, 10)
            Ashtead Group PLC (AHT.L)  \
Date
30-04-2024                     7499.9
30-04-2023                     6644.0
30-04-2022                     5744.0
30-04-2021                     4776.2
30-04-2020                     4544.6

            Babcock International Group PLC (BAB.L)  Column1  \
Date
30-04-2024                                   4182.4     7849
30-04-2023                                   4168.2     7465

In [17]:
# Comparison for initial dataset
for sheet_name, df in all_sheets.items():
    print(f"Sheet: {sheet_name}")
    print(f"Columns: {df.columns}")
    print(f"Shape: {df.shape}")
    print(df.head())
    print("\n")

Sheet: unemployment_rate
Columns: Index(['Unenployment Rate', 'Population'], dtype='object')
Shape: (178, 2)
         Unenployment Rate  Population
YYMM
2024/10                4.3         NaN
2024/09                4.3         NaN
2024/08                4.1         NaN
2024/07                4.2         NaN
2024/06                4.2         NaN


Sheet: extra_unemployment_rate
Columns: Index(['Unemployment Rate', 'Unemployment (Thousands)', '    Female',
       '    Male'],
      dtype='object')
Shape: (80, 4)
         Unemployment Rate Unemployment (Thousands)     Female     Male
Date
Dec 2024                --                       --         --       --
Nov 2024               4.4                     1568        4.2      4.7
Oct 2024               4.3                     1508          4      4.6
Sep 2024               4.3                     1509        4.1      4.5
Aug 2024               4.1                     1435          4      4.2


Sheet: gov_total_expense_revenue
Columns: Index(['Expense', 'Revenue', 'Surplus or Deficit'], dtype='object')
Shape: (14, 3)
         Expense  Revenue  Surplus or Deficit
YYMM
2023/12  1201.48  1039.26             -162.22
2022/12  1113.20   994.39             -118.82
2021/12  1048.01   868.38             -179.63
2020/12  1050.83   774.33             -276.50
2019/12   865.30   809.86              -55.43


Sheet: money_supply
Columns: Index(['M1', 'M2', 'M2 YOY Growth Rate', 'M3', 'M3 YOY Growth Rate', 'M4',
       'M4 YOY Growth Rate'],
      dtype='object')
Shape: (179, 7)
              M1       M2  M2 YOY Growth Rate       M3  M3 YOY Growth Rate  \
YYMM
2024/11  2221455  3067494                2.43  3579952                2.68
2024/10  2217494  3062782                2.43  3567812                2.34
2024/09  2205040  3044830                0.09  3549183                0.11
2024/08  2180414  3024072               -0.56  3516038               -1.29
2024/07  2206676  3040913               -0.03  3544273                0.22

              M4  M4 YOY Growth Rate
YYMM
2024/11  3077109                2.99
2024/10  3078011                3.01
2024/09  3083178                3.38
2024/08  3065166                1.40
2024/07  3067715                1.83


Sheet: bonds
Columns: Index(['5 Year', '10 Year', '20 Year'], dtype='object')
Shape: (180, 3)
         5 Year  10 Year  20 Year
YYMM
2024/12    4.12     4.41     4.65
2024/11    4.15     4.42     4.65
2024/10    3.90     4.20     4.47
2024/09    3.65     3.91     4.19
2024/08    3.72     3.94     4.21


Sheet: cpi
Columns: Index(['CPI', 'CPI Annual Growth Rate'], dtype='object')
Shape: (179, 2)
           CPI  CPI Annual Growth Rate
YYMM
2024/11  134.6                     3.5
2024/10  134.3                     3.1
2024/09  133.5                     2.6
2024/08  133.4                     3.1
2024/07  132.9                     3.0


Sheet: economic_growth
Columns: Index(['GBP to USD Exchange Rate', 'Economic Growth Rate'], dtype='object')
Shape: (181, 2)
         GBP to USD Exchange Rate  Economic Growth Rate
YYMM
2025/01                    1.2362                   NaN
2024/12                    1.2514                   NaN
2024/11                    1.2736                   NaN
2024/10                    1.2898                   NaN
2024/09                    1.3374                   0.9


Sheet: import_export
Columns: Index(['Import', 'Export'], dtype='object')
Shape: (178, 2)
         Import  Export
YYMM
2024/10   47397   28428
2024/09   44781   28460
2024/08   47776   32564
2024/07   47732   29051
2024/06   51143   31854


Sheet: uk_home_retail
Columns: Index(['UK Home Sales', '    United Kingdom', '    Great Britain',
       '    England', '    Scotland', '    Northern Ireland',
       '    East Midlands', '    London', '    North East England',
       '    North West England',
       ...
       '            Northern Ireland', '            North West England',
       '            Scotland', '            South West England',
       '            Wales', '            West Midlands',
       '            Yorkshire and Humberside', '            Northern',
       '            Outer South East', '            Outer Metropolitan Area'],
      dtype='object', length=474)
Shape: (80, 474)
          UK Home Sales      United Kingdom      Great Britain      England  \
Date
Sep 2024            NaN               49713              47722        37258
Aug 2024            NaN               59319              57328        44874
Jul 2024            NaN               61319              59328        47862
Jun 2024            NaN               55893              54088        43022
May 2024            NaN               62193              60388        48601

              Scotland      Northern Ireland      East Midlands      London  \
Date
Sep 2024          8360                  1991               3335        4228
Aug 2024          9879                  1991               4042        5433
Jul 2024          8728                  1991               4248        5953
Jun 2024          8599                  1805               3793        5085
May 2024          9115                  1805               4379        5705

              North East England      North West England  ...  \
Date                                                      ...
Sep 2024                  1766.0                    4996  ...
Aug 2024                  2210.0                    5927  ...
Jul 2024                  2303.0                    6460  ...
Jun 2024                  2206.0                    5632  ...
May 2024                  2583.0                    6551  ...

                      Northern Ireland              North West England  \
Date
Sep 2024                            --                              --
Aug 2024                            --                              --
Jul 2024                            --                              --
Jun 2024                            --                              --
May 2024                            --                              --

                      Scotland              South West England  \
Date
Sep 2024                    --                              --
Aug 2024                    --                              --
Jul 2024                    --                              --
Jun 2024                    --                              --
May 2024                    --                              --

                      Wales              West Midlands  \
Date
Sep 2024                 --                         --
Aug 2024                 --                         --
Jul 2024                 --                         --
Jun 2024                 --                         --
May 2024                 --                         --

                      Yorkshire and Humberside              Northern  \
Date
Sep 2024                                    --                    --
Aug 2024                                    --                    --
Jul 2024                                    --                    --
Jun 2024                                    --                    --
May 2024                                    --                    --

                      Outer South East              Outer Metropolitan Area
Date
Sep 2024                            --                                   --
Aug 2024                            --                                   --
Jul 2024                            --                                   --
Jun 2024                            --                                   --
May 2024                            --                                   --

[5 rows x 474 columns]


Sheet: seasonal_retail_sales
Columns: Index(['Retail Sale Volume Index', 'Revenue', 'Unnamed: 3'], dtype='object')
Shape: (179, 3)
         Retail Sale Volume Index  Revenue  Unnamed: 3
YYMM
2024/11                      98.4      NaN         NaN
2024/10                      98.2      NaN         NaN
2024/09                      98.9      NaN         NaN
2024/08                      99.1      NaN         NaN
2024/07                      98.2      NaN         NaN


Sheet: uk_building
Columns: Index(['Building (Housing) Starts', 'Building Completions',
       '    Local Authorities'],
      dtype='object')
Shape: (42, 3)
         Building (Housing) Starts  Building Completions  \
Date
Q2 2024                      22990                 43030
Q1 2024                      22580                 37620
Q4 2023                      20270                 40120
Q3 2023                      21210                 41640
Q2 2023                      66060                 38930

             Local Authorities
Date
Q2 2024                    610
Q1 2024                   1090
Q4 2023                    760
Q3 2023                    620
Q2 2023                    390


Sheet: uk_affordability_index
Columns: Index(['            East Anglia', '            East Midlands',
       '            London', '            Northern Ireland',
       '            North West England', '            Scotland',
       '            South West England', '            Wales',
       '            West Midlands', '            Yorkshire and Humberside',
       '            Northern', '            Outer South East',
       '            Outer Metropolitan Area'],
      dtype='object')
Shape: (28, 13)
         East Anglia  East Midlands  London  Northern Ireland  \
Date
Q4 2020         80.3           90.4    90.2              76.1
Q3 2020         78.5           86.7    88.4              73.5
Q2 2020         78.0           85.9    86.8              72.0
Q1 2020         79.0           88.6    86.4              75.8
Q4 2019         79.2           86.2    87.2              73.0

         North West England  Scotland  South West England  Wales  \
Date
Q4 2020                77.8      56.0                81.4   74.7
Q3 2020                75.4      53.9                80.0   71.8
Q2 2020                76.6      54.2                80.7   72.3
Q1 2020                77.1      55.0                79.8   73.4
Q4 2019                74.5      55.6                80.1   71.9

         West Midlands  Yorkshire and Humberside  Northern  Outer South East  \
Date
Q4 2020           91.5                      63.2      48.5              85.9
Q3 2020           87.0                      61.2      46.7              83.4
Q2 2020           88.3                      59.8      47.2              83.7
Q1 2020           88.7                      62.6      47.2              84.5
Q4 2019           88.3                      60.5      48.0              83.4

         Outer Metropolitan Area
Date
Q4 2020                     84.4
Q3 2020                     83.8
Q2 2020                     82.2
Q1 2020                     82.8
Q4 2019                     82.9


Sheet: uk_retail_price
Columns: Index(['Index of Private Housing Rental Prices', '    excluding London',
       '    England', '        excluding London', '        London',
       '        East', '        East Midlands', '        North East',
       '        South East England', '        North West',
       '        South West England', '        West Midlands',
       '        Yorkshire and Humberside', '    Scotland', '    Wales'],
      dtype='object')
Shape: (80, 15)
          Index of Private Housing Rental Prices     excluding London  \
Date
Dec 2024                                     9.1                   --
Nov 2024                                     9.1                   --
Oct 2024                                     8.7                   --
Sep 2024                                     8.4                   --
Aug 2024                                     8.4                   --

              England         excluding London          London          East  \
Date
Dec 2024          9.2                       --            11.5           8.4
Nov 2024          9.3                       --            11.6           8.4
Oct 2024          8.8                       --            10.4           8.0
Sep 2024          8.5                       --             9.8           7.9
Aug 2024          8.5                       --             9.6           7.6

                  East Midlands          North East  \
Date
Dec 2024                    8.3                 8.9
Nov 2024                    8.3                 8.4
Oct 2024                    9.1                 7.7
Sep 2024                    8.8                 7.3
Aug 2024                    9.2                 6.7

                  South East England          North West  \
Date
Dec 2024                         7.9                 9.6
Nov 2024                         8.2                10.0
Oct 2024                         8.2                 9.7
Sep 2024                         7.9                 9.3
Aug 2024                         7.7                 9.2

                  South West England          West Midlands  \
Date
Dec 2024                         6.9                    8.7
Nov 2024                         6.5                    8.7
Oct 2024                         6.2                    8.7
Sep 2024                         6.3                    8.8
Aug 2024                         6.4                    9.2

                  Yorkshire and Humberside      Scotland      Wales
Date
Dec 2024                               5.4           6.9        8.5
Nov 2024                               5.7           6.5        8.0
Oct 2024                               5.9           6.6        7.9
Sep 2024                               6.3           7.2        8.3
Aug 2024                               7.0           7.6        8.5


Sheet: mortage
Columns: Index(['All Lenders (GBP)', 'House Purchase', 'Remortgaging',
       'Other Secured Lending', 'Monetary Financial Institutions',
       'Other Specialist Lenders'],
      dtype='object')
Shape: (79, 6)
          All Lenders (GBP)  House Purchase  Remortgaging  \
Date
Nov 2024              23049           16494          6728
Oct 2024              23748           16753          6977
Sep 2024              22679           15803          6677
Aug 2024              21928           15451          5871
Jul 2024              20997           14499          5166

          Other Secured Lending  Monetary Financial Institutions  \
Date
Nov 2024                    637                            23017
Oct 2024                    700                            22914
Sep 2024                    696                            21088
Aug 2024                    612                            19808
Jul 2024                    579                            18729

          Other Specialist Lenders
Date
Nov 2024                      1316
Oct 2024                      1299
Sep 2024                      1140
Aug 2024                      1163
Jul 2024                       955


Sheet: construction_cost_prices_sales
Columns: Index(['Construction Output/Sales (GBP)', 'New Housing',
       'Public and Housing Associations', 'Private Housing', 'Other New Work',
       'Infrastructure', 'Other Public Work Excluding Infrastructure',
       'Other Private Industrial Work Excluding Infrastructure',
       'Other Private Commercial Work Excluding Infrastructure',
       'Construction Costs/Prices', 'Housing', 'New Work', 'Infrastructure2',
       'Public Works', 'Private Industrial', 'Private Commercial',
       'Repair and Maintenance', 'Housing3',
       'Non-Housing Repair and Maintenance'],
      dtype='object')
Shape: (79, 19)
         Construction Output/Sales (GBP)  New Housing  \
Date
Q3 2024                           9673.0       2154.0
Q2 2024                          12395.0       3195.0
Q1 2024                          10687.0       2732.0
Q4 2023                           9126.0       2867.0
Q3 2023                          10674.0       3345.0

         Public and Housing Associations  Private Housing  Other New Work  \
Date
Q3 2024                            264.0           1890.0          7519.0
Q2 2024                            444.0           2751.0          9201.0
Q1 2024                            215.0           2517.0          7954.0
Q4 2023                            469.0           2398.0          6258.0
Q3 2023                            465.0           2880.0          7329.0

         Infrastructure  Other Public Work Excluding Infrastructure  \
Date
Q3 2024          2132.0                                      1365.0
Q2 2024          2115.0                                      1897.0
Q1 2024          1670.0                                      1785.0
Q4 2023          1632.0                                      1225.0
Q3 2023          1572.0                                      1475.0

         Other Private Industrial Work Excluding Infrastructure  \
Date
Q3 2024                                             1036.0
Q2 2024                                             1417.0
Q1 2024                                             1183.0
Q4 2023                                              867.0
Q3 2023                                             1204.0

         Other Private Commercial Work Excluding Infrastructure  \
Date
Q3 2024                                             2986.0
Q2 2024                                             3772.0
Q1 2024                                             3316.0
Q4 2023                                             2534.0
Q3 2023                                             3078.0

        Construction Costs/Prices Housing New Work Infrastructure2  \
Date
Q3 2024                        --      --       --              --
Q2 2024                        --      --       --              --
Q1 2024                     136.3   149.3    143.3           140.4
Q4 2023                     136.1     149    143.1           140.1
Q3 2023                     136.2   149.5    143.3           140.2

        Public Works Private Industrial Private Commercial  \
Date
Q3 2024           --                 --                 --
Q2 2024           --                 --                 --
Q1 2024        138.1              144.3              138.1
Q4 2023        137.8                144              137.8
Q3 2023        137.9              144.3              137.9

        Repair and Maintenance Housing3 Non-Housing Repair and Maintenance
Date
Q3 2024                     --       --                                 --
Q2 2024                     --       --                                 --
Q1 2024                  123.7    121.3                              126.3
Q4 2023                  123.7    121.2                              126.2
Q3 2023                  123.7    121.2                              126.2


Sheet: mortage_interest_rate
Columns: Index(['Lifetime Tracker', 'Standard Variable Rate', '2 Years', '3 Years',
       '5 Years', '10 Years', '2 Years2', '5 Years3', '2 Years4', '2 Years5',
       '2 Years6'],
      dtype='object')
Shape: (80, 11)
         Lifetime Tracker Standard Variable Rate 2 Years 3 Years 5 Years  \
Date
Dec 2024               --                     --      --      --      --
Nov 2024             6.44                   7.59    4.53    4.44    4.31
Oct 2024             6.51                    7.7    4.41    4.28    4.07
Sep 2024             6.51                    7.7    4.58    4.43    4.09
Aug 2024             6.54                   7.86     4.8    4.62    4.33

         10 Years 2 Years2 5 Years3  2 Years4 2 Years5 2 Years6
Date
Dec 2024       --       --       --      5.36       --      5.4
Nov 2024     4.66     5.68     5.23      5.41     5.21     5.51
Oct 2024     4.68     5.61     5.13      5.30     5.39     5.53
Sep 2024      4.8     5.76     5.23      5.40     5.45     5.55
Aug 2024     4.85      5.9     5.33      5.54      5.5     5.72


Sheet: company_revenue
Columns: Index(['Ashtead Group PLC (AHT.L)', 'Babcock International Group PLC (BAB.L)',
       'Column1', 'Caterpillar Inc (CAT)',
       'Hitachi Construction Machinery Co Ltd (6305.T)',

Aggregated Data for Tables in YYYY/MM Format

In [18]:
# Dictionary to store aggregated annual data
annual_data = {}

for sheet_name, df in cleaned_df.items():
    print(f"\nðŸ“„ Processing Sheet: {sheet_name}")

    try:
        # Convert index to string & remove decimal points if read as float
        df.index = df.index.astype(str).str.split(".").str[0]

        # Debug: Show first 5 index values
        print(f"First 5 index values:\n{df.index[:5].tolist()}")

        # Check if all index values match YYYY/MM format
        if not all(re.fullmatch(r"\d{4}/\d{2}", idx) for idx in df.index):
            print(f"âš ï¸ Skipping {sheet_name}: Index not in 'YYYY/MM' format.")
            continue

        # Extract the year (first 4 characters)
        df["year"] = df.index.str[:4]

        # Group by year and compute the mean for all numeric columns
        annual_dfs = df.groupby("year").mean(numeric_only=True)

        # Store result
        annual_data[sheet_name] = annual_dfs

        # Print the result
        print(annual_dfs.head())

    except Exception as e:
        print(f"âš ï¸ Error processing {sheet_name}: {e}")

ðŸ“„ Processing Sheet: unemployment_rate
First 5 index values:
['2024/10', '2024/09', '2024/08', '2024/07', '2024/06']
      Unenployment Rate  Population
year
2010           7.875000       62.76
2011           8.058333       63.29
2012           8.016667       63.71
2013           7.633333       64.11
2014           6.300000       64.60

ðŸ“„ Processing Sheet: extra_unemployment_rate
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping extra_unemployment_rate: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: gov_total_expense_revenue
First 5 index values:
['2023/12', '2022/12', '2021/12', '2020/12', '2019/12']
      Expense  Revenue  Surplus or Deficit
year
2010   719.49   570.64             -148.85
2011   723.41   600.04             -123.37
2012   746.45   618.00             -128.45
2013   745.41   649.54              -95.87
2014   767.12   663.27             -103.85

ðŸ“„ Processing Sheet: money_supply
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
                M1            M2  M2 YOY Growth Rate            M3  \
year
2010  1.094754e+06  2.090328e+06           12.900833  2.373002e+06
2011  1.085666e+06  2.075125e+06           -0.724167  2.327860e+06
2012  1.109667e+06  2.029024e+06           -2.215833  2.293525e+06
2013  1.220775e+06  2.086061e+06            2.815000  2.388605e+06
2014  1.327533e+06  2.076217e+06           -0.464167  2.374797e+06

      M3 YOY Growth Rate            M4  M4 YOY Growth Rate
year
2010            8.890833  2.194181e+06            9.597500
2011           -1.899167  2.140971e+06           -2.425833
2012           -1.459167  2.078094e+06           -2.920833
2013            4.150833  2.110935e+06            1.585833
2014           -0.569167  2.110913e+06            0.006667

ðŸ“„ Processing Sheet: bonds
First 5 index values:
['2024/12', '2024/11', '2024/10', '2024/09', '2024/08']
        5 Year   10 Year   20 Year
year
2010  2.373333  3.612500  4.250000
2011  1.945833  3.120833  3.841667
2012  0.854167  1.906667  2.871667
2013  1.245833  2.445833  3.267500
2014  1.721667  2.610833  3.165833

ðŸ“„ Processing Sheet: cpi
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
            CPI  CPI Annual Growth Rate
year
2010  89.433333                3.291667
2011  93.425000                4.466667
2012  96.041667                2.808333
2013  98.508333                2.558333
2014  99.958333                1.458333

ðŸ“„ Processing Sheet: economic_growth
First 5 index values:
['2025/01', '2024/12', '2024/11', '2024/10', '2024/09']
      GBP to USD Exchange Rate  Economic Growth Rate
year
2010                  1.542483                 2.250
2011                  1.609325                 1.125
2012                  1.592717                 1.500
2013                  1.566892                 1.800
2014                  1.645825                 3.200

ðŸ“„ Processing Sheet: import_export
First 5 index values:
['2024/10', '2024/09', '2024/08', '2024/07', '2024/06']
            Import        Export
year
2010  30441.666667  22158.000000
2011  33882.000000  25214.083333
2012  34252.833333  24869.250000
2013  35391.083333  24977.500000
2014  35024.583333  24097.750000

ðŸ“„ Processing Sheet: uk_home_retail
First 5 index values:
['Sep 2024', 'Aug 2024', 'Jul 2024', 'Jun 2024', 'May 2024']
âš ï¸ Skipping uk_home_retail: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: seasonal_retail_sales
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
      Retail Sale Volume Index  Revenue
year
2010                 82.933333   570.64
2011                 82.291667   600.04
2012                 82.541667   618.00
2013                 83.366667   649.54
2014                 86.266667   663.27

ðŸ“„ Processing Sheet: uk_building
First 5 index values:
['Q2 2024', 'Q1 2024', 'Q4 2023', 'Q3 2023', 'Q2 2023']
âš ï¸ Skipping uk_building: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: uk_affordability_index
First 5 index values:
['Q4 2020', 'Q3 2020', 'Q2 2020', 'Q1 2020', 'Q4 2019']
âš ï¸ Skipping uk_affordability_index: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: uk_retail_price
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping uk_retail_price: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: mortage
First 5 index values:
['Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024', 'Jul 2024']
âš ï¸ Skipping mortage: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: construction_cost_prices_sales
First 5 index values:
['Q3 2024', 'Q2 2024', 'Q1 2024', 'Q4 2023', 'Q3 2023']
âš ï¸ Skipping construction_cost_prices_sales: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: mortage_interest_rate
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping mortage_interest_rate: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: company_revenue
First 5 index values:
['30-04-2024', '30-04-2023', '30-04-2022', '30-04-2021', '30-04-2020']
âš ï¸ Skipping company_revenue: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: operating_expenses
First 5 index values:
['30-04-2024', '30-04-2023', '30-04-2022', '30-04-2021', '30-04-2020']
âš ï¸ Skipping operating_expenses: Index not in 'YYYY/MM' format.

Now to get all date formats converted to aggregate data