In [125]:
import pandas as pd
from datetime import datetime
import re

all_sheets = pd.read_excel("Integrated_Data_new.xlsx", sheet_name=None, index_col=0)

"""Iterate through all sheets
for sheet_name, df in all_sheets.items():
    print(f"Sheet Name: {sheet_name}")
    print(df.head())"""

'# Iterate through all sheets\nfor sheet_name, df in all_sheets.items():\n    print(f"Sheet Name: {sheet_name}")\n    print(df.head())'

'# Iterate through all sheets\nfor sheet_name, df in all_sheets.items():\n    print(f"Sheet Name: {sheet_name}")\n    print(df.head())'

In [ ]:
# All names of Dataframes by Sheet name

print(all_sheets.keys())

In [ ]:
all_sheets['Extra Unemployment Rate ']

Clean data for columns that have all null values

In [ ]:
# Drop unnamed columns, using this to clean data as tables such as Extra Unemployment Rate have been converted weirdly, giving extra null columns where there aren't any
def drop_unnamed_columns(df):
    return df.loc[:, ~df.columns.str.contains('^Unnamed')]

cleaned_columns = {name: drop_unnamed_columns(df) for name, df in all_sheets.items()}

cleaned_columns['Extra Unemployment Rate ']

Dropping fully null rows

In [129]:
cleaned_data = {}

for sheet_name, df in cleaned_columns.items():
    print(f"\nðŸ“„ Cleaning Sheet: {sheet_name}")

    try:
        # ðŸš€ Drop rows where all values are null
        df_cleaned = df.dropna(how="all")

        # Store the cleaned DataFrame
        cleaned_data[sheet_name] = df_cleaned

        # Print number of rows dropped
        rows_dropped = len(df) - len(df_cleaned)
        print(f"âœ… Dropped {rows_dropped} fully null rows from {sheet_name}")

    except Exception as e:
        print(f"âŒ Error cleaning {sheet_name}: {e}")

ðŸ“„ Cleaning Sheet: unenployment rate
âœ… Dropped 0 fully null rows from unenployment rate

ðŸ“„ Cleaning Sheet: Extra Unemployment Rate
âœ… Dropped 1026963 fully null rows from Extra Unemployment Rate

ðŸ“„ Cleaning Sheet: Gov Total Expanse&Revenue
âœ… Dropped 0 fully null rows from Gov Total Expanse&Revenue

ðŸ“„ Cleaning Sheet: Money Supply
âœ… Dropped 0 fully null rows from Money Supply

ðŸ“„ Cleaning Sheet: Bonds
âœ… Dropped 0 fully null rows from Bonds

ðŸ“„ Cleaning Sheet: CPI
âœ… Dropped 0 fully null rows from CPI

ðŸ“„ Cleaning Sheet: Economic Growth
âœ… Dropped 0 fully null rows from Economic Growth

ðŸ“„ Cleaning Sheet: Import_Export
âœ… Dropped 0 fully null rows from Import_Export

ðŸ“„ Cleaning Sheet: Seasonal Retail Sales
âœ… Dropped 0 fully null rows from Seasonal Retail Sales

ðŸ“„ Cleaning Sheet: UK Home Retail
âœ… Dropped 1029195 fully null rows from UK Home Retail

ðŸ“„ Cleaning Sheet: UK Building
âœ… Dropped 1029231 fully null rows from UK Building

ðŸ“„ Cleaning Sheet: UK Affordability Index
âœ… Dropped 0 fully null rows from UK Affordability Index

ðŸ“„ Cleaning Sheet: UK Rental Prices
âœ… Dropped 0 fully null rows from UK Rental Prices

ðŸ“„ Cleaning Sheet: Mortage
âœ… Dropped 0 fully null rows from Mortage

ðŸ“„ Cleaning Sheet: Construction Cost&Prices&Sales
âœ… Dropped 0 fully null rows from Construction Cost&Prices&Sales

ðŸ“„ Cleaning Sheet: Mortage interests rate
âœ… Dropped 0 fully null rows from Mortage interests rate

ðŸ“„ Cleaning Sheet: Company Revenues
âœ… Dropped 0 fully null rows from Company Revenues

ðŸ“„ Cleaning Sheet: Operating Expenses
âœ… Dropped 0 fully null rows from Operating Expenses

ðŸ“„ Cleaning Sheet: unenployment rate
âœ… Dropped 0 fully null rows from unenployment rate

ðŸ“„ Cleaning Sheet: Extra Unemployment Rate
âœ… Dropped 1026963 fully null rows from Extra Unemployment Rate

ðŸ“„ Cleaning Sheet: Gov Total Expanse&Revenue
âœ… Dropped 0 fully null rows from Gov Total Expanse&Revenue

ðŸ“„ Cleaning Sheet: Money Supply
âœ… Dropped 0 fully null rows from Money Supply

ðŸ“„ Cleaning Sheet: Bonds
âœ… Dropped 0 fully null rows from Bonds

ðŸ“„ Cleaning Sheet: CPI
âœ… Dropped 0 fully null rows from CPI

ðŸ“„ Cleaning Sheet: Economic Growth
âœ… Dropped 0 fully null rows from Economic Growth

ðŸ“„ Cleaning Sheet: Import_Export
âœ… Dropped 0 fully null rows from Import_Export

ðŸ“„ Cleaning Sheet: Seasonal Retail Sales
âœ… Dropped 0 fully null rows from Seasonal Retail Sales

ðŸ“„ Cleaning Sheet: UK Home Retail
âœ… Dropped 1029195 fully null rows from UK Home Retail

ðŸ“„ Cleaning Sheet: UK Building
âœ… Dropped 1029231 fully null rows from UK Building

ðŸ“„ Cleaning Sheet: UK Affordability Index
âœ… Dropped 0 fully null rows from UK Affordability Index

ðŸ“„ Cleaning Sheet: UK Rental Prices
âœ… Dropped 0 fully null rows from UK Rental Prices

ðŸ“„ Cleaning Sheet: Mortage
âœ… Dropped 0 fully null rows from Mortage

ðŸ“„ Cleaning Sheet: Construction Cost&Prices&Sales
âœ… Dropped 0 fully null rows from Construction Cost&Prices&Sales

ðŸ“„ Cleaning Sheet: Mortage interests rate
âœ… Dropped 0 fully null rows from Mortage interests rate

ðŸ“„ Cleaning Sheet: Company Revenues
âœ… Dropped 0 fully null rows from Company Revenues

ðŸ“„ Cleaning Sheet: Operating Expenses
âœ… Dropped 0 fully null rows from Operating Expenses

Checking Null Values for Each Sheet

In [130]:
for sheet_name, df in cleaned_columns.items():
    # Check for missing values per column
    missing_values = df.isnull().sum()

    # Display results
    print(f"\nSheet: {sheet_name}")
    print("Missing Values Per Column:")
    print(missing_values)

    # Check if there are any null values
    total_missing = missing_values.sum()
    if total_missing == 0:
        print("âœ… No missing values in this sheet.")
    else:
        print(f"âš ï¸Total missing values in this sheet: {total_missing}")

Sheet: unenployment rate
Missing Values Per Column:
Unenployment Rate     0
Population           10
dtype: int64
âš ï¸Total missing values in this sheet: 10

Sheet: Extra Unemployment Rate
Missing Values Per Column:
Unemployment Rate           1026963
Unemployment (Thousands)    1026963
    Female                  1032192
    Male                    1032192
dtype: int64
âš ï¸Total missing values in this sheet: 4118310

Sheet: Gov Total Expanse&Revenue
Missing Values Per Column:
Expense               0
Revenue               0
Surplus or Deficit    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Money Supply
Missing Values Per Column:
M1                    0
M2                    0
M2 YOY Growth Rate    0
M3                    0
M3 YOY Growth Rate    0
M4                    0
M4 YOY Growth Rate    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Bonds
Missing Values Per Column:
5 Year     0
10 Year    0
20 Year    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: CPI
Missing Values Per Column:
CPI                       0
CPI Annual Growth Rate    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Economic Growth
Missing Values Per Column:
GBP to USD Exchange Rate    0
Economic Growth Rate        4
dtype: int64
âš ï¸Total missing values in this sheet: 4

Sheet: Import_Export
Missing Values Per Column:
Import    0
Export    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Seasonal Retail Sales
Missing Values Per Column:
Retail Sale Volume Index     0
Revenue                     11
dtype: int64
âš ï¸Total missing values in this sheet: 11

Sheet: UK Home Retail
Missing Values Per Column:
UK Home Sales         1032236
    United Kingdom    1032156
    Great Britain     1032156
    England           1032156
    Scotland          1032156
                       ...
    Belfast           1032156
    Glasgow City      1032156
    Inner London      1032156
    Outer London      1032156
House Prices          1029231
Length: 443, dtype: int64
âš ï¸Total missing values in this sheet: 457242263

Sheet: UK Building
Missing Values Per Column:
Building (Housing) Starts    1029231
Building Completions         1032192
    Local Authorities        1032192
dtype: int64
âš ï¸Total missing values in this sheet: 3093615

Sheet: UK Affordability Index
Missing Values Per Column:
            East Anglia                 0
            East Midlands               0
            London                      0
            Northern Ireland            0
            North West England          0
            Scotland                    0
            South West England          0
            Wales                       0
            West Midlands               0
            Yorkshire and Humberside    0
            Northern                    0
            Outer South East            0
            Outer Metropolitan Area     0
dtype: int64
âœ… No missing values in this sheet.

Sheet: UK Rental Prices
Missing Values Per Column:
Index of Private Housing Rental Prices    0
    excluding London                      0
    England                               0
        excluding London                  0
        London                            0
        East                              0
        East Midlands                     0
        North East                        0
        South East England                0
        North West                        0
        South West England                0
        West Midlands                     0
        Yorkshire and Humberside          0
    Scotland                              0
    Wales                                 0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Mortage
Missing Values Per Column:
All Lenders (GBP)                  0
House Purchase                     0
Remortgaging                       0
Other Secured Lending              0
Monetary Financial Institutions    0
Other Specialist Lenders           0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Construction Cost&Prices&Sales
Missing Values Per Column:
Construction Output/Sales (GBP)                           36
New Housing                                               36
Public and Housing Associations                           36
Private Housing                                           36
Other New Work                                            36
Infrastructure                                            36
Other Public Work Excluding Infrastructure                36
Other Private Industrial Work Excluding Infrastructure    36
Other Private Commercial Work Excluding Infrastructure    36
Construction Costs/Prices                                  0
Housing                                                    0
New Work                                                   0
Infrastructure.1                                           0
Public Works                                               0
Private Industrial                                         0
Private Commercial                                         0
Repair and Maintenance                                     0
Housing.1                                                  0
Non-Housing Repair and Maintenance                         0
dtype: int64
âš ï¸Total missing values in this sheet: 324

Sheet: Mortage interests rate
Missing Values Per Column:
Lifetime Tracker          0
Standard Variable Rate    0
2 Years                   0
3 Years                   0
5 Years                   0
10 Years                  0
2 Years.1                 0
5 Years.1                 0
2 Years.2                 0
2 Years.3                 0
2 Years.4                 0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Company Revenues
Missing Values Per Column:
Ashtead Group PLC (AHT.L)                         0
Babcock International Group PLC (BAB.L)           0
Caterpillar Inc (CAT)                             0
Hitachi Construction Machinery Co Ltd (6305.T)    0
J.C. Bamford Excavators Ltd (4296370337)          0
Komatsu Ltd (6301.T)                              0
Liebherr-International Ltd (4298321885)           0
Speedy Hire PLC (SDY.L)                           0
Terex Corp (TEX)                                  0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Operating Expenses
Missing Values Per Column:
Ashtead Group PLC (AHT.L)                         0
Babcock International Group PLC (BAB.L)           0
Caterpillar Inc (CAT)                             0
Hitachi Construction Machinery Co Ltd (6305.T)    0
J.C. Bamford Excavators Ltd (4296370337)          0
Komatsu Ltd (6301.T)                              0
Liebherr-International Ltd (4298321885)           0
Speedy Hire PLC (SDY.L)                           0
Terex Corp (TEX)                                  0
dtype: int64
âœ… No missing values in this sheet.

Sheet: unenployment rate
Missing Values Per Column:
Unenployment Rate     0
Population           10
dtype: int64
âš ï¸Total missing values in this sheet: 10

Sheet: Extra Unemployment Rate
Missing Values Per Column:
Unemployment Rate           1026963
Unemployment (Thousands)    1026963
    Female                  1032192
    Male                    1032192
dtype: int64
âš ï¸Total missing values in this sheet: 4118310

Sheet: Gov Total Expanse&Revenue
Missing Values Per Column:
Expense               0
Revenue               0
Surplus or Deficit    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Money Supply
Missing Values Per Column:
M1                    0
M2                    0
M2 YOY Growth Rate    0
M3                    0
M3 YOY Growth Rate    0
M4                    0
M4 YOY Growth Rate    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Bonds
Missing Values Per Column:
5 Year     0
10 Year    0
20 Year    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: CPI
Missing Values Per Column:
CPI                       0
CPI Annual Growth Rate    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Economic Growth
Missing Values Per Column:
GBP to USD Exchange Rate    0
Economic Growth Rate        4
dtype: int64
âš ï¸Total missing values in this sheet: 4

Sheet: Import_Export
Missing Values Per Column:
Import    0
Export    0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Seasonal Retail Sales
Missing Values Per Column:
Retail Sale Volume Index      0
Revenue                      11
Column1                     166
dtype: int64
âš ï¸Total missing values in this sheet: 177

Sheet: UK Home Retail
Missing Values Per Column:
UK Home Sales         1032233
    United Kingdom    1032156
    Great Britain     1032156
    England           1032156
    Scotland          1032156
                       ...
    Belfast           1032156
    Glasgow City      1032156
    Inner London      1032156
    Outer London      1032156
House Prices          1029231
Length: 443, dtype: int64
âš ï¸Total missing values in this sheet: 457242260

Sheet: UK Building
Missing Values Per Column:
Building (Housing) Starts    1029231
Building Completions         1032192
    Local Authorities        1032192
dtype: int64
âš ï¸Total missing values in this sheet: 3093615

Sheet: UK Affordability Index
Missing Values Per Column:
            East Anglia                 0
            East Midlands               0
            London                      0
            Northern Ireland            0
            North West England          0
            Scotland                    0
            South West England          0
            Wales                       0
            West Midlands               0
            Yorkshire and Humberside    0
            Northern                    0
            Outer South East            0
            Outer Metropolitan Area     0
dtype: int64
âœ… No missing values in this sheet.

Sheet: UK Rental Prices
Missing Values Per Column:
Index of Private Housing Rental Prices    0
    excluding London                      0
    England                               0
        excluding London                  0
        London                            0
        East                              0
        East Midlands                     0
        North East                        0
        South East England                0
        North West                        0
        South West England                0
        West Midlands                     0
        Yorkshire and Humberside          0
    Scotland                              0
    Wales                                 0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Mortage
Missing Values Per Column:
All Lenders (GBP)                  0
House Purchase                     0
Remortgaging                       0
Other Secured Lending              0
Monetary Financial Institutions    0
Other Specialist Lenders           0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Construction Cost&Prices&Sales
Missing Values Per Column:
Construction Output/Sales (GBP)                           36
New Housing                                               36
Public and Housing Associations                           36
Private Housing                                           36
Other New Work                                            36
Infrastructure                                            36
Other Public Work Excluding Infrastructure                36
Other Private Industrial Work Excluding Infrastructure    36
Other Private Commercial Work Excluding Infrastructure    36
Construction Costs/Prices                                  0
Housing                                                    0
New Work                                                   0
Infrastructure2                                            0
Public Works                                               0
Private Industrial                                         0
Private Commercial                                         0
Repair and Maintenance                                     0
Housing3                                                   0
Non-Housing Repair and Maintenance                         0
dtype: int64
âš ï¸Total missing values in this sheet: 324

Sheet: Mortage interests rate
Missing Values Per Column:
Lifetime Tracker          0
Standard Variable Rate    0
2 Years                   0
3 Years                   0
5 Years                   0
10 Years                  0
2 Years2                  0
5 Years3                  0
2 Years4                  0
2 Years5                  0
2 Years6                  0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Company Revenues
Missing Values Per Column:
Ashtead Group PLC (AHT.L)                         0
Babcock International Group PLC (BAB.L)           0
Column1                                           0
Caterpillar Inc (CAT)                             0
Hitachi Construction Machinery Co Ltd (6305.T)    0
J.C. Bamford Excavators Ltd (4296370337)          0
Komatsu Ltd (6301.T)                              0
Liebherr-International Ltd (4298321885)           0
Speedy Hire PLC (SDY.L)                           0
Terex Corp (TEX)                                  0
dtype: int64
âœ… No missing values in this sheet.

Sheet: Operating Expenses
Missing Values Per Column:
Ashtead Group PLC (AHT.L)                         0
Babcock International Group PLC (BAB.L)           0
Column1                                           0
Caterpillar Inc (CAT)                             0
Hitachi Construction Machinery Co Ltd (6305.T)    0
J.C. Bamford Excavators Ltd (4296370337)          0
Komatsu Ltd (6301.T)                              0
Liebherr-International Ltd (4298321885)           0
Speedy Hire PLC (SDY.L)                           0
Terex Corp (TEX)                                  0
dtype: int64
âœ… No missing values in this sheet.

In [131]:
# Function to drop columns with more than 35% missing data with error handling
def drop_columns(df, threshold = 0.35):
    # Calculate the percentage of missing values in each column
    missing_percentage = df.isnull().mean()

    # Identify columns where the percentage of missing values exceeds the threshold
    columns_to_drop = missing_percentage[missing_percentage > threshold].index

    # If ALL columns exceed the threshold, drop only the worst ones and keep at least one column
    if len(columns_to_drop) == len(df.columns):
        print(f"Warning: All columns in the DataFrame exceed the {threshold*100}% missing data threshold.")
        # Keep the column with the least missing data
        column_to_keep = missing_percentage.idxmin()
        columns_to_drop = columns_to_drop.drop(column_to_keep)

    # Drop the identified columns
    return df.drop(columns=columns_to_drop)

cleaned_df = {name: drop_columns(df) for name, df in cleaned_columns.items()}

'# Function to drop columns with more than 35% missing data with error handling\ndef drop_columns(df, threshold = 0.35):\n    # Calculate the percentage of missing values in each column\n    missing_percentage = df.isnull().mean()\n\n    # Identify columns where the percentage of missing values exceeds the threshold\n    columns_to_drop = missing_percentage[missing_percentage > threshold].index\n\n    # If ALL columns exceed the threshold, drop only the worst ones and keep at least one column\n    if len(columns_to_drop) == len(df.columns):\n        print(f"Warning: All columns in the DataFrame exceed the {threshold*100}% missing data threshold.")\n        # Keep the column with the least missing data\n        column_to_keep = missing_percentage.idxmin()\n        columns_to_drop = columns_to_drop.drop(column_to_keep)\n\n    # Drop the identified columns\n    return df.drop(columns=columns_to_drop)\n\ncleaned_dataframes = {name: drop_columns(df) for name, df in all_sheets.items()}'

'# Function to drop columns with more than 35% missing data with error handling\ndef drop_columns(df, threshold = 0.35):\n    # Calculate the percentage of missing values in each column\n    missing_percentage = df.isnull().mean()\n\n    # Identify columns where the percentage of missing values exceeds the threshold\n    columns_to_drop = missing_percentage[missing_percentage > threshold].index\n\n    # If ALL columns exceed the threshold, drop only the worst ones and keep at least one column\n    if len(columns_to_drop) == len(df.columns):\n        print(f"Warning: All columns in the DataFrame exceed the {threshold*100}% missing data threshold.")\n        # Keep the column with the least missing data\n        column_to_keep = missing_percentage.idxmin()\n        columns_to_drop = columns_to_drop.drop(column_to_keep)\n\n    # Drop the identified columns\n    return df.drop(columns=columns_to_drop)\n\ncleaned_dataframes = {name: drop_columns(df) for name, df in all_sheets.items()}'

In [132]:
# Comparison for new dataset
for sheet_name, df in cleaned_df.items():
    print(f"Sheet: {sheet_name}")
    print(f"Columns: {df.columns}")
    print(f"Shape: {df.shape}")
    print(df.head())
    print("\n")

Sheet: unenployment rate
Columns: Index(['Unenployment Rate', 'Population'], dtype='object')
Shape: (178, 2)
         Unenployment Rate  Population
YYMM
2024/10                4.3         NaN
2024/09                4.3         NaN
2024/08                4.1         NaN
2024/07                4.2         NaN
2024/06                4.2         NaN


Sheet: Extra Unemployment Rate
Columns: Index(['Unemployment Rate', 'Unemployment (Thousands)', '    Female',
       '    Male'],
      dtype='object')
Shape: (1032272, 4)
         Unemployment Rate Unemployment (Thousands)     Female     Male
Date
Dec 2024                --                       --         --       --
Nov 2024               4.4                     1568        4.2      4.7
Oct 2024               4.3                     1508          4      4.6
Sep 2024               4.3                     1509        4.1      4.5
Aug 2024               4.1                     1435          4      4.2


Sheet: Gov Total Expanse&Revenue
Columns: Index(['Expense', 'Revenue', 'Surplus or Deficit'], dtype='object')
Shape: (14, 3)
         Expense  Revenue  Surplus or Deficit
YYMM
2023/12  1201.48  1039.26             -162.22
2022/12  1113.20   994.39             -118.82
2021/12  1048.01   868.38             -179.63
2020/12  1050.83   774.33             -276.50
2019/12   865.30   809.86              -55.43


Sheet: Money Supply
Columns: Index(['M1', 'M2', 'M2 YOY Growth Rate', 'M3', 'M3 YOY Growth Rate', 'M4',
       'M4 YOY Growth Rate'],
      dtype='object')
Shape: (179, 7)
              M1       M2  M2 YOY Growth Rate       M3  M3 YOY Growth Rate  \
YYMM
2024/11  2221455  3067494                2.43  3579952                2.68
2024/10  2217494  3062782                2.43  3567812                2.34
2024/09  2205040  3044830                0.09  3549183                0.11
2024/08  2180414  3024072               -0.56  3516038               -1.29
2024/07  2206676  3040913               -0.03  3544273                0.22

              M4  M4 YOY Growth Rate
YYMM
2024/11  3077109                2.99
2024/10  3078011                3.01
2024/09  3083178                3.38
2024/08  3065166                1.40
2024/07  3067715                1.83


Sheet: Bonds
Columns: Index(['5 Year', '10 Year', '20 Year'], dtype='object')
Shape: (180, 3)
         5 Year  10 Year  20 Year
YYMM
2024/12    4.12     4.41     4.65
2024/11    4.15     4.42     4.65
2024/10    3.90     4.20     4.47
2024/09    3.65     3.91     4.19
2024/08    3.72     3.94     4.21


Sheet: CPI
Columns: Index(['CPI', 'CPI Annual Growth Rate'], dtype='object')
Shape: (179, 2)
           CPI  CPI Annual Growth Rate
YYMM
2024/11  134.6                     3.5
2024/10  134.3                     3.1
2024/09  133.5                     2.6
2024/08  133.4                     3.1
2024/07  132.9                     3.0


Sheet: Economic Growth
Columns: Index(['GBP to USD Exchange Rate', 'Economic Growth Rate'], dtype='object')
Shape: (181, 2)
         GBP to USD Exchange Rate  Economic Growth Rate
YYMM
2025/01                    1.2362                   NaN
2024/12                    1.2514                   NaN
2024/11                    1.2736                   NaN
2024/10                    1.2898                   NaN
2024/09                    1.3374                   0.9


Sheet: Import_Export
Columns: Index(['Import', 'Export'], dtype='object')
Shape: (178, 2)
         Import  Export
YYMM
2024/10   47397   28428
2024/09   44781   28460
2024/08   47776   32564
2024/07   47732   29051
2024/06   51143   31854


Sheet: Seasonal Retail Sales
Columns: Index(['Retail Sale Volume Index', 'Revenue'], dtype='object')
Shape: (179, 2)
         Retail Sale Volume Index  Revenue
YYMM
2024/11                      98.4      NaN
2024/10                      98.2      NaN
2024/09                      98.9      NaN
2024/08                      99.1      NaN
2024/07                      98.2      NaN


Sheet: UK Home Retail
Columns: Index(['UK Home Sales', '    United Kingdom', '    Great Britain',
       '    England', '    Scotland', '    Northern Ireland',
       '    East Midlands', '    London', '    North East England',
       '    North West England',
       ...
       '    Aberdeen City', '    Fife', '    North Down and Ards',
       '    Armagh Banbridge and Craigavon', '    Edinburgh City of',
       '    Belfast', '    Glasgow City', '    Inner London',
       '    Outer London', 'House Prices'],
      dtype='object', length=443)
Shape: (1032236, 443)
          UK Home Sales     United Kingdom     Great Britain     England  \
Date
Dec 2024            NaN                 --                --          --
Nov 2024            NaN                 --                --          --
Oct 2024            NaN                 --                --          --
Sep 2024            NaN              49713             47722       37258
Aug 2024            NaN              59319             57328       44874

             Scotland     Northern Ireland     East Midlands     London  \
Date
Dec 2024           --                   --                --         --
Nov 2024           --                   --                --         --
Oct 2024           --                   --                --         --
Sep 2024         8360                 1991              3335       4228
Aug 2024         9879                 1991              4042       5433

             North East England     North West England  ...     Aberdeen City  \
Date                                                    ...
Dec 2024                     --                     --  ...                --
Nov 2024                     --                     --  ...                --
Oct 2024                     --                     --  ...                --
Sep 2024                   1766                   4996  ...               374
Aug 2024                   2210                   5927  ...               462

             Fife     North Down and Ards     Armagh Banbridge and Craigavon  \
Date
Dec 2024       --                      --                                 --
Nov 2024       --                      --                                 --
Oct 2024       --                      --                                 --
Sep 2024      542                      --                                 --
Aug 2024      659                      --                                 --

             Edinburgh City of     Belfast     Glasgow City     Inner London  \
Date
Dec 2024                    --          --               --               --
Nov 2024                    --          --               --               --
Oct 2024                    --          --               --               --
Sep 2024                   931         415              916             1739
Aug 2024                  1106         415             1139             2202

             Outer London House Prices
Date
Dec 2024               --           --
Nov 2024               --           --
Oct 2024               --           --
Sep 2024             2489           --
Aug 2024             3231           --

[5 rows x 443 columns]


Sheet: UK Building
Columns: Index(['Building (Housing) Starts', 'Building Completions',
       '    Local Authorities'],
      dtype='object')
Shape: (1032236, 3)
        Building (Housing) Starts Building Completions     Local Authorities
Date
Q4 2024                        --                   --                    --
Q3 2024                        --                   --                    --
Q2 2024                     22990                43030                   610
Q1 2024                     22580                37620                  1090
Q4 2023                     20270                40120                   760


Sheet: UK Affordability Index
Columns: Index(['            East Anglia', '            East Midlands',
       '            London', '            Northern Ireland',
       '            North West England', '            Scotland',
       '            South West England', '            Wales',
       '            West Midlands', '            Yorkshire and Humberside',
       '            Northern', '            Outer South East',
       '            Outer Metropolitan Area'],
      dtype='object')
Shape: (44, 13)
                    East Anglia             East Midlands             London  \
Date
Q4 2024                      --                        --                 --
Q3 2024                      --                        --                 --
Q2 2024                      --                        --                 --
Q1 2024                      --                        --                 --
Q4 2023                      --                        --                 --

                    Northern Ireland             North West England  \
Date
Q4 2024                           --                             --
Q3 2024                           --                             --
Q2 2024                           --                             --
Q1 2024                           --                             --
Q4 2023                           --                             --

                    Scotland             South West England             Wales  \
Date
Q4 2024                   --                             --                --
Q3 2024                   --                             --                --
Q2 2024                   --                             --                --
Q1 2024                   --                             --                --
Q4 2023                   --                             --                --

                    West Midlands             Yorkshire and Humberside  \
Date
Q4 2024                        --                                   --
Q3 2024                        --                                   --
Q2 2024                        --                                   --
Q1 2024                        --                                   --
Q4 2023                        --                                   --

                    Northern             Outer South East  \
Date
Q4 2024                   --                           --
Q3 2024                   --                           --
Q2 2024                   --                           --
Q1 2024                   --                           --
Q4 2023                   --                           --

                    Outer Metropolitan Area
Date
Q4 2024                                  --
Q3 2024                                  --
Q2 2024                                  --
Q1 2024                                  --
Q4 2023                                  --


Sheet: UK Rental Prices
Columns: Index(['Index of Private Housing Rental Prices', '    excluding London',
       '    England', '        excluding London', '        London',
       '        East', '        East Midlands', '        North East',
       '        South East England', '        North West',
       '        South West England', '        West Midlands',
       '        Yorkshire and Humberside', '    Scotland', '    Wales'],
      dtype='object')
Shape: (80, 15)
          Index of Private Housing Rental Prices     excluding London  \
Date
Dec 2024                                     9.1                   --
Nov 2024                                     9.1                   --
Oct 2024                                     8.7                   --
Sep 2024                                     8.4                   --
Aug 2024                                     8.4                   --

              England         excluding London          London          East  \
Date
Dec 2024          9.2                       --            11.5           8.4
Nov 2024          9.3                       --            11.6           8.4
Oct 2024          8.8                       --            10.4           8.0
Sep 2024          8.5                       --             9.8           7.9
Aug 2024          8.5                       --             9.6           7.6

                  East Midlands          North East  \
Date
Dec 2024                    8.3                 8.9
Nov 2024                    8.3                 8.4
Oct 2024                    9.1                 7.7
Sep 2024                    8.8                 7.3
Aug 2024                    9.2                 6.7

                  South East England          North West  \
Date
Dec 2024                         7.9                 9.6
Nov 2024                         8.2                10.0
Oct 2024                         8.2                 9.7
Sep 2024                         7.9                 9.3
Aug 2024                         7.7                 9.2

                  South West England          West Midlands  \
Date
Dec 2024                         6.9                    8.7
Nov 2024                         6.5                    8.7
Oct 2024                         6.2                    8.7
Sep 2024                         6.3                    8.8
Aug 2024                         6.4                    9.2

                  Yorkshire and Humberside      Scotland      Wales
Date
Dec 2024                               5.4           6.9        8.5
Nov 2024                               5.7           6.5        8.0
Oct 2024                               5.9           6.6        7.9
Sep 2024                               6.3           7.2        8.3
Aug 2024                               7.0           7.6        8.5


Sheet: Mortage
Columns: Index(['All Lenders (GBP)', 'House Purchase', 'Remortgaging',
       'Other Secured Lending', 'Monetary Financial Institutions',
       'Other Specialist Lenders'],
      dtype='object')
Shape: (80, 6)
         All Lenders (GBP) House Purchase Remortgaging Other Secured Lending  \
Date
Dec 2024                --             --           --                    --
Nov 2024             23049          16494         6728                   637
Oct 2024             23748          16753         6977                   700
Sep 2024             22679          15803         6677                   696
Aug 2024             21928          15451         5871                   612

         Monetary Financial Institutions Other Specialist Lenders
Date
Dec 2024                              --                       --
Nov 2024                           23017                     1316
Oct 2024                           22914                     1299
Sep 2024                           21088                     1140
Aug 2024                           19808                     1163


Sheet: Construction Cost&Prices&Sales
Columns: Index(['Construction Output/Sales (GBP)', 'New Housing',
       'Public and Housing Associations', 'Private Housing', 'Other New Work',
       'Infrastructure', 'Other Public Work Excluding Infrastructure',
       'Other Private Industrial Work Excluding Infrastructure',
       'Other Private Commercial Work Excluding Infrastructure',
       'Construction Costs/Prices', 'Housing', 'New Work', 'Infrastructure.1',
       'Public Works', 'Private Industrial', 'Private Commercial',
       'Repair and Maintenance', 'Housing.1',
       'Non-Housing Repair and Maintenance'],
      dtype='object')
Shape: (80, 19)
        Construction Output/Sales (GBP) New Housing  \
Date
Q4 2024                              --          --
Q3 2024                            9673        2154
Q2 2024                           12395        3195
Q1 2024                           10687        2732
Q4 2023                            9126        2867

        Public and Housing Associations Private Housing Other New Work  \
Date
Q4 2024                              --              --             --
Q3 2024                             264            1890           7519
Q2 2024                             444            2751           9201
Q1 2024                             215            2517           7954
Q4 2023                             469            2398           6258

        Infrastructure Other Public Work Excluding Infrastructure  \
Date
Q4 2024             --                                         --
Q3 2024           2132                                       1365
Q2 2024           2115                                       1897
Q1 2024           1670                                       1785
Q4 2023           1632                                       1225

        Other Private Industrial Work Excluding Infrastructure  \
Date
Q4 2024                                                 --
Q3 2024                                               1036
Q2 2024                                               1417
Q1 2024                                               1183
Q4 2023                                                867

        Other Private Commercial Work Excluding Infrastructure  \
Date
Q4 2024                                                 --
Q3 2024                                               2986
Q2 2024                                               3772
Q1 2024                                               3316
Q4 2023                                               2534

        Construction Costs/Prices Housing New Work Infrastructure.1  \
Date
Q4 2024                        --      --       --               --
Q3 2024                        --      --       --               --
Q2 2024                        --      --       --               --
Q1 2024                     136.3   149.3    143.3            140.4
Q4 2023                     136.1     149    143.1            140.1

        Public Works Private Industrial Private Commercial  \
Date
Q4 2024           --                 --                 --
Q3 2024           --                 --                 --
Q2 2024           --                 --                 --
Q1 2024        138.1              144.3              138.1
Q4 2023        137.8                144              137.8

        Repair and Maintenance Housing.1 Non-Housing Repair and Maintenance
Date
Q4 2024                     --        --                                 --
Q3 2024                     --        --                                 --
Q2 2024                     --        --                                 --
Q1 2024                  123.7     121.3                              126.3
Q4 2023                  123.7     121.2                              126.2


Sheet: Mortage interests rate
Columns: Index(['Lifetime Tracker', 'Standard Variable Rate', '2 Years', '3 Years',
       '5 Years', '10 Years', '2 Years.1', '5 Years.1', '2 Years.2',
       '2 Years.3', '2 Years.4'],
      dtype='object')
Shape: (80, 11)
         Lifetime Tracker Standard Variable Rate 2 Years 3 Years 5 Years  \
Date
Dec 2024               --                     --      --      --      --
Nov 2024             6.44                   7.59    4.53    4.44    4.31
Oct 2024             6.51                    7.7    4.41    4.28    4.07
Sep 2024             6.51                    7.7    4.58    4.43    4.09
Aug 2024             6.54                   7.86     4.8    4.62    4.33

         10 Years 2 Years.1 5 Years.1  2 Years.2 2 Years.3 2 Years.4
Date
Dec 2024       --        --        --       5.36        --       5.4
Nov 2024     4.66      5.68      5.23       5.41      5.21      5.51
Oct 2024     4.68      5.61      5.13       5.30      5.39      5.53
Sep 2024      4.8      5.76      5.23       5.40      5.45      5.55
Aug 2024     4.85       5.9      5.33       5.54       5.5      5.72


Sheet: Company Revenues
Columns: Index(['Ashtead Group PLC (AHT.L)', 'Babcock International Group PLC (BAB.L)',
       'Caterpillar Inc (CAT)',
       'Hitachi Construction Machinery Co Ltd (6305.T)',
       'J.C. Bamford Excavators Ltd (4296370337)', 'Komatsu Ltd (6301.T)',
       'Liebherr-International Ltd (4298321885)', 'Speedy Hire PLC (SDY.L)',
       'Terex Corp (TEX)'],
      dtype='object')

In [133]:
# Comparison for initial dataset
for sheet_name, df in all_sheets.items():
    print(f"Sheet: {sheet_name}")
    print(f"Columns: {df.columns}")
    print(f"Shape: {df.shape}")
    print(df.head())
    print("\n")

Sheet: unenployment rate
Columns: Index(['Unenployment Rate', 'Population'], dtype='object')
Shape: (178, 2)
         Unenployment Rate  Population
YYMM
2024/10                4.3         NaN
2024/09                4.3         NaN
2024/08                4.1         NaN
2024/07                4.2         NaN
2024/06                4.2         NaN


Sheet: Extra Unemployment Rate
Columns: Index(['Unemployment Rate', 'Unemployment (Thousands)', '    Female',
       '    Male', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')
Shape: (1032272, 15)
         Unemployment Rate Unemployment (Thousands)     Female     Male  \
Date
Dec 2024                --                       --         --       --
Nov 2024               4.4                     1568        4.2      4.7
Oct 2024               4.3                     1508          4      4.6
Sep 2024               4.3                     1509        4.1      4.5
Aug 2024               4.1                     1435          4      4.2

          Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
Date
Dec 2024         NaN         NaN         NaN         NaN         NaN
Nov 2024         NaN         NaN         NaN         NaN         NaN
Oct 2024         NaN         NaN         NaN         NaN         NaN
Sep 2024         NaN         NaN         NaN         NaN         NaN
Aug 2024         NaN         NaN         NaN         NaN         NaN

          Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  \
Date
Dec 2024          NaN          NaN          NaN          NaN          NaN
Nov 2024          NaN          NaN          NaN          NaN          NaN
Oct 2024          NaN          NaN          NaN          NaN          NaN
Sep 2024          NaN          NaN          NaN          NaN          NaN
Aug 2024          NaN          NaN          NaN          NaN          NaN

         Unnamed: 15
Date
Dec 2024         NaN
Nov 2024         NaN
Oct 2024         NaN
Sep 2024         NaN
Aug 2024         NaN


Sheet: Gov Total Expanse&Revenue
Columns: Index(['Expense', 'Revenue', 'Surplus or Deficit'], dtype='object')
Shape: (14, 3)
         Expense  Revenue  Surplus or Deficit
YYMM
2023/12  1201.48  1039.26             -162.22
2022/12  1113.20   994.39             -118.82
2021/12  1048.01   868.38             -179.63
2020/12  1050.83   774.33             -276.50
2019/12   865.30   809.86              -55.43


Sheet: Money Supply
Columns: Index(['M1', 'M2', 'M2 YOY Growth Rate', 'M3', 'M3 YOY Growth Rate', 'M4',
       'M4 YOY Growth Rate'],
      dtype='object')
Shape: (179, 7)
              M1       M2  M2 YOY Growth Rate       M3  M3 YOY Growth Rate  \
YYMM
2024/11  2221455  3067494                2.43  3579952                2.68
2024/10  2217494  3062782                2.43  3567812                2.34
2024/09  2205040  3044830                0.09  3549183                0.11
2024/08  2180414  3024072               -0.56  3516038               -1.29
2024/07  2206676  3040913               -0.03  3544273                0.22

              M4  M4 YOY Growth Rate
YYMM
2024/11  3077109                2.99
2024/10  3078011                3.01
2024/09  3083178                3.38
2024/08  3065166                1.40
2024/07  3067715                1.83


Sheet: Bonds
Columns: Index(['5 Year', '10 Year', '20 Year'], dtype='object')
Shape: (180, 3)
         5 Year  10 Year  20 Year
YYMM
2024/12    4.12     4.41     4.65
2024/11    4.15     4.42     4.65
2024/10    3.90     4.20     4.47
2024/09    3.65     3.91     4.19
2024/08    3.72     3.94     4.21


Sheet: CPI
Columns: Index(['CPI', 'CPI Annual Growth Rate'], dtype='object')
Shape: (179, 2)
           CPI  CPI Annual Growth Rate
YYMM
2024/11  134.6                     3.5
2024/10  134.3                     3.1
2024/09  133.5                     2.6
2024/08  133.4                     3.1
2024/07  132.9                     3.0


Sheet: Economic Growth
Columns: Index(['GBP to USD Exchange Rate', 'Economic Growth Rate'], dtype='object')
Shape: (181, 2)
         GBP to USD Exchange Rate  Economic Growth Rate
YYMM
2025/01                    1.2362                   NaN
2024/12                    1.2514                   NaN
2024/11                    1.2736                   NaN
2024/10                    1.2898                   NaN
2024/09                    1.3374                   0.9


Sheet: Import_Export
Columns: Index(['Import', 'Export'], dtype='object')
Shape: (178, 2)
         Import  Export
YYMM
2024/10   47397   28428
2024/09   44781   28460
2024/08   47776   32564
2024/07   47732   29051
2024/06   51143   31854


Sheet: Seasonal Retail Sales
Columns: Index(['Retail Sale Volume Index', 'Revenue', 'Unnamed: 3'], dtype='object')
Shape: (179, 3)
         Retail Sale Volume Index  Revenue  Unnamed: 3
YYMM
2024/11                      98.4      NaN         NaN
2024/10                      98.2      NaN         NaN
2024/09                      98.9      NaN         NaN
2024/08                      99.1      NaN         NaN
2024/07                      98.2      NaN         NaN


Sheet: UK Home Retail
Columns: Index(['UK Home Sales', '    United Kingdom', '    Great Britain',
       '    England', '    Scotland', '    Northern Ireland',
       '    East Midlands', '    London', '    North East England',
       '    North West England',
       ...
       '    Fife', '    North Down and Ards',
       '    Armagh Banbridge and Craigavon', '    Edinburgh City of',
       '    Belfast', '    Glasgow City', '    Inner London',
       '    Outer London', 'Unnamed: 443', 'House Prices'],
      dtype='object', length=444)
Shape: (1032236, 444)
          UK Home Sales     United Kingdom     Great Britain     England  \
Date
Dec 2024            NaN                 --                --          --
Nov 2024            NaN                 --                --          --
Oct 2024            NaN                 --                --          --
Sep 2024            NaN              49713             47722       37258
Aug 2024            NaN              59319             57328       44874

             Scotland     Northern Ireland     East Midlands     London  \
Date
Dec 2024           --                   --                --         --
Nov 2024           --                   --                --         --
Oct 2024           --                   --                --         --
Sep 2024         8360                 1991              3335       4228
Aug 2024         9879                 1991              4042       5433

             North East England     North West England  ...     Fife  \
Date                                                    ...
Dec 2024                     --                     --  ...       --
Nov 2024                     --                     --  ...       --
Oct 2024                     --                     --  ...       --
Sep 2024                   1766                   4996  ...      542
Aug 2024                   2210                   5927  ...      659

             North Down and Ards     Armagh Banbridge and Craigavon  \
Date
Dec 2024                      --                                 --
Nov 2024                      --                                 --
Oct 2024                      --                                 --
Sep 2024                      --                                 --
Aug 2024                      --                                 --

             Edinburgh City of     Belfast     Glasgow City     Inner London  \
Date
Dec 2024                    --          --               --               --
Nov 2024                    --          --               --               --
Oct 2024                    --          --               --               --
Sep 2024                   931         415              916             1739
Aug 2024                  1106         415             1139             2202

             Outer London Unnamed: 443 House Prices
Date
Dec 2024               --          NaN           --
Nov 2024               --          NaN           --
Oct 2024               --          NaN           --
Sep 2024             2489          NaN           --
Aug 2024             3231          NaN           --

[5 rows x 444 columns]


Sheet: UK Building
Columns: Index(['Building (Housing) Starts', 'Building Completions',
       '    Local Authorities'],
      dtype='object')
Shape: (1032236, 3)
        Building (Housing) Starts Building Completions     Local Authorities
Date
Q4 2024                        --                   --                    --
Q3 2024                        --                   --                    --
Q2 2024                     22990                43030                   610
Q1 2024                     22580                37620                  1090
Q4 2023                     20270                40120                   760


Sheet: UK Affordability Index
Columns: Index(['            East Anglia', '            East Midlands',
       '            London', '            Northern Ireland',
       '            North West England', '            Scotland',
       '            South West England', '            Wales',
       '            West Midlands', '            Yorkshire and Humberside',
       '            Northern', '            Outer South East',
       '            Outer Metropolitan Area'],
      dtype='object')
Shape: (44, 13)
                    East Anglia             East Midlands             London  \
Date
Q4 2024                      --                        --                 --
Q3 2024                      --                        --                 --
Q2 2024                      --                        --                 --
Q1 2024                      --                        --                 --
Q4 2023                      --                        --                 --

                    Northern Ireland             North West England  \
Date
Q4 2024                           --                             --
Q3 2024                           --                             --
Q2 2024                           --                             --
Q1 2024                           --                             --
Q4 2023                           --                             --

                    Scotland             South West England             Wales  \
Date
Q4 2024                   --                             --                --
Q3 2024                   --                             --                --
Q2 2024                   --                             --                --
Q1 2024                   --                             --                --
Q4 2023                   --                             --                --

                    West Midlands             Yorkshire and Humberside  \
Date
Q4 2024                        --                                   --
Q3 2024                        --                                   --
Q2 2024                        --                                   --
Q1 2024                        --                                   --
Q4 2023                        --                                   --

                    Northern             Outer South East  \
Date
Q4 2024                   --                           --
Q3 2024                   --                           --
Q2 2024                   --                           --
Q1 2024                   --                           --
Q4 2023                   --                           --

                    Outer Metropolitan Area
Date
Q4 2024                                  --
Q3 2024                                  --
Q2 2024                                  --
Q1 2024                                  --
Q4 2023                                  --


Sheet: UK Rental Prices
Columns: Index(['Index of Private Housing Rental Prices', '    excluding London',
       '    England', '        excluding London', '        London',
       '        East', '        East Midlands', '        North East',
       '        South East England', '        North West',
       '        South West England', '        West Midlands',
       '        Yorkshire and Humberside', '    Scotland', '    Wales'],
      dtype='object')
Shape: (80, 15)
          Index of Private Housing Rental Prices     excluding London  \
Date
Dec 2024                                     9.1                   --
Nov 2024                                     9.1                   --
Oct 2024                                     8.7                   --
Sep 2024                                     8.4                   --
Aug 2024                                     8.4                   --

              England         excluding London          London          East  \
Date
Dec 2024          9.2                       --            11.5           8.4
Nov 2024          9.3                       --            11.6           8.4
Oct 2024          8.8                       --            10.4           8.0
Sep 2024          8.5                       --             9.8           7.9
Aug 2024          8.5                       --             9.6           7.6

                  East Midlands          North East  \
Date
Dec 2024                    8.3                 8.9
Nov 2024                    8.3                 8.4
Oct 2024                    9.1                 7.7
Sep 2024                    8.8                 7.3
Aug 2024                    9.2                 6.7

                  South East England          North West  \
Date
Dec 2024                         7.9                 9.6
Nov 2024                         8.2                10.0
Oct 2024                         8.2                 9.7
Sep 2024                         7.9                 9.3
Aug 2024                         7.7                 9.2

                  South West England          West Midlands  \
Date
Dec 2024                         6.9                    8.7
Nov 2024                         6.5                    8.7
Oct 2024                         6.2                    8.7
Sep 2024                         6.3                    8.8
Aug 2024                         6.4                    9.2

                  Yorkshire and Humberside      Scotland      Wales
Date
Dec 2024                               5.4           6.9        8.5
Nov 2024                               5.7           6.5        8.0
Oct 2024                               5.9           6.6        7.9
Sep 2024                               6.3           7.2        8.3
Aug 2024                               7.0           7.6        8.5


Sheet: Mortage
Columns: Index(['All Lenders (GBP)', 'House Purchase', 'Remortgaging',
       'Other Secured Lending', 'Monetary Financial Institutions',
       'Other Specialist Lenders'],
      dtype='object')
Shape: (80, 6)
         All Lenders (GBP) House Purchase Remortgaging Other Secured Lending  \
Date
Dec 2024                --             --           --                    --
Nov 2024             23049          16494         6728                   637
Oct 2024             23748          16753         6977                   700
Sep 2024             22679          15803         6677                   696
Aug 2024             21928          15451         5871                   612

         Monetary Financial Institutions Other Specialist Lenders
Date
Dec 2024                              --                       --
Nov 2024                           23017                     1316
Oct 2024                           22914                     1299
Sep 2024                           21088                     1140
Aug 2024                           19808                     1163


Sheet: Construction Cost&Prices&Sales
Columns: Index(['Construction Output/Sales (GBP)', 'New Housing',
       'Public and Housing Associations', 'Private Housing', 'Other New Work',
       'Infrastructure', 'Other Public Work Excluding Infrastructure',
       'Other Private Industrial Work Excluding Infrastructure',
       'Other Private Commercial Work Excluding Infrastructure',
       'Construction Costs/Prices', 'Housing', 'New Work', 'Infrastructure.1',
       'Public Works', 'Private Industrial', 'Private Commercial',
       'Repair and Maintenance', 'Housing.1',
       'Non-Housing Repair and Maintenance'],
      dtype='object')
Shape: (80, 19)
        Construction Output/Sales (GBP) New Housing  \
Date
Q4 2024                              --          --
Q3 2024                            9673        2154
Q2 2024                           12395        3195
Q1 2024                           10687        2732
Q4 2023                            9126        2867

        Public and Housing Associations Private Housing Other New Work  \
Date
Q4 2024                              --              --             --
Q3 2024                             264            1890           7519
Q2 2024                             444            2751           9201
Q1 2024                             215            2517           7954
Q4 2023                             469            2398           6258

        Infrastructure Other Public Work Excluding Infrastructure  \
Date
Q4 2024             --                                         --
Q3 2024           2132                                       1365
Q2 2024           2115                                       1897
Q1 2024           1670                                       1785
Q4 2023           1632                                       1225

        Other Private Industrial Work Excluding Infrastructure  \
Date
Q4 2024                                                 --
Q3 2024                                               1036
Q2 2024                                               1417
Q1 2024                                               1183
Q4 2023                                                867

        Other Private Commercial Work Excluding Infrastructure  \
Date
Q4 2024                                                 --
Q3 2024                                               2986
Q2 2024                                               3772
Q1 2024                                               3316
Q4 2023                                               2534

        Construction Costs/Prices Housing New Work Infrastructure.1  \
Date
Q4 2024                        --      --       --               --
Q3 2024                        --      --       --               --
Q2 2024                        --      --       --               --
Q1 2024                     136.3   149.3    143.3            140.4
Q4 2023                     136.1     149    143.1            140.1

        Public Works Private Industrial Private Commercial  \
Date
Q4 2024           --                 --                 --
Q3 2024           --                 --                 --
Q2 2024           --                 --                 --
Q1 2024        138.1              144.3              138.1
Q4 2023        137.8                144              137.8

        Repair and Maintenance Housing.1 Non-Housing Repair and Maintenance
Date
Q4 2024                     --        --                                 --
Q3 2024                     --        --                                 --
Q2 2024                     --        --                                 --
Q1 2024                  123.7     121.3                              126.3
Q4 2023                  123.7     121.2                              126.2


Sheet: Mortage interests rate
Columns: Index(['Lifetime Tracker', 'Standard Variable Rate', '2 Years', '3 Years',
       '5 Years', '10 Years', '2 Years.1', '5 Years.1', '2 Years.2',
       '2 Years.3', '2 Years.4'],
      dtype='object')
Shape: (80, 11)

Aggregated Data for Tables in YYYY/MM Format

In [134]:
# Dictionary to store aggregated annual data
annual_data = {}

for sheet_name, df in cleaned_df.items():
    print(f"\nðŸ“„ Processing Sheet: {sheet_name}")

    try:
        # Convert index to string & remove decimal points if read as float
        df.index = df.index.astype(str).str.split(".").str[0]

        # Debug: Show first 5 index values
        print(f"First 5 index values:\n{df.index[:5].tolist()}")

        # Check if all index values match YYYY/MM format
        if not all(re.fullmatch(r"\d{4}/\d{2}", idx) for idx in df.index):
            print(f"âš ï¸ Skipping {sheet_name}: Index not in 'YYYY/MM' format.")
            continue

        # Extract the year (first 4 characters)
        df["year"] = df.index.str[:4]

        # Group by year and compute the mean for all numeric columns
        annual_dfs = df.groupby("year").mean(numeric_only=True)

        # Store result
        annual_data[sheet_name] = annual_dfs

        # Print the result
        print(annual_dfs.head())

    except Exception as e:
        print(f"âš ï¸ Error processing {sheet_name}: {e}")

ðŸ“„ Processing Sheet: unenployment rate
First 5 index values:
['2024/10', '2024/09', '2024/08', '2024/07', '2024/06']
      Unenployment Rate  Population
year
2010           7.875000       62.76
2011           8.058333       63.29
2012           8.016667       63.71
2013           7.633333       64.11
2014           6.300000       64.60

ðŸ“„ Processing Sheet: Extra Unemployment Rate
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping Extra Unemployment Rate : Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Gov Total Expanse&Revenue
First 5 index values:
['2023/12', '2022/12', '2021/12', '2020/12', '2019/12']
      Expense  Revenue  Surplus or Deficit
year
2010   719.49   570.64             -148.85
2011   723.41   600.04             -123.37
2012   746.45   618.00             -128.45
2013   745.41   649.54              -95.87
2014   767.12   663.27             -103.85

ðŸ“„ Processing Sheet: Money Supply
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
                M1            M2  M2 YOY Growth Rate            M3  \
year
2010  1.094754e+06  2.090328e+06           12.900833  2.373002e+06
2011  1.085666e+06  2.075125e+06           -0.724167  2.327860e+06
2012  1.109667e+06  2.029024e+06           -2.215833  2.293525e+06
2013  1.220775e+06  2.086061e+06            2.815000  2.388605e+06
2014  1.327533e+06  2.076217e+06           -0.464167  2.374797e+06

      M3 YOY Growth Rate            M4  M4 YOY Growth Rate
year
2010            8.890833  2.194181e+06            9.597500
2011           -1.899167  2.140971e+06           -2.425833
2012           -1.459167  2.078094e+06           -2.920833
2013            4.150833  2.110935e+06            1.585833
2014           -0.569167  2.110913e+06            0.006667

ðŸ“„ Processing Sheet: Bonds
First 5 index values:
['2024/12', '2024/11', '2024/10', '2024/09', '2024/08']
        5 Year   10 Year   20 Year
year
2010  2.373333  3.612500  4.250000
2011  1.945833  3.120833  3.841667
2012  0.854167  1.906667  2.871667
2013  1.245833  2.445833  3.267500
2014  1.721667  2.610833  3.165833

ðŸ“„ Processing Sheet: CPI
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
            CPI  CPI Annual Growth Rate
year
2010  89.433333                3.291667
2011  93.425000                4.466667
2012  96.041667                2.808333
2013  98.508333                2.558333
2014  99.958333                1.458333

ðŸ“„ Processing Sheet: Economic Growth
First 5 index values:
['2025/01', '2024/12', '2024/11', '2024/10', '2024/09']
      GBP to USD Exchange Rate  Economic Growth Rate
year
2010                  1.542483                 2.250
2011                  1.609325                 1.125
2012                  1.592717                 1.500
2013                  1.566892                 1.800
2014                  1.645825                 3.200

ðŸ“„ Processing Sheet: Import_Export
First 5 index values:
['2024/10', '2024/09', '2024/08', '2024/07', '2024/06']
            Import        Export
year
2010  30441.666667  22158.000000
2011  33882.000000  25214.083333
2012  34252.833333  24869.250000
2013  35391.083333  24977.500000
2014  35024.583333  24097.750000

ðŸ“„ Processing Sheet: Seasonal Retail Sales
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
      Retail Sale Volume Index  Revenue
year
2010                 82.933333   570.64
2011                 82.291667   600.04
2012                 82.541667   618.00
2013                 83.366667   649.54
2014                 86.266667   663.27

ðŸ“„ Processing Sheet: UK Home Retail
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping UK Home Retail: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: UK Building
First 5 index values:
['Q4 2024', 'Q3 2024', 'Q2 2024', 'Q1 2024', 'Q4 2023']
âš ï¸ Skipping UK Building: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: UK Affordability Index
First 5 index values:
['Q4 2024', 'Q3 2024', 'Q2 2024', 'Q1 2024', 'Q4 2023']
âš ï¸ Skipping UK Affordability Index: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: UK Rental Prices
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping UK Rental Prices: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Mortage
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping Mortage: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Construction Cost&Prices&Sales
First 5 index values:
['Q4 2024', 'Q3 2024', 'Q2 2024', 'Q1 2024', 'Q4 2023']
âš ï¸ Skipping Construction Cost&Prices&Sales: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Mortage interests rate
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping Mortage interests rate: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Company Revenues
First 5 index values:
['30-04-2024', '30-04-2023', '30-04-2022', '30-04-2021', '30-04-2020']
âš ï¸ Skipping Company Revenues: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Operating Expenses
First 5 index values:
['30-04-2024', '30-04-2023', '30-04-2022', '30-04-2021', '30-04-2020']
âš ï¸ Skipping Operating Expenses: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: unenployment rate
First 5 index values:
['2024/10', '2024/09', '2024/08', '2024/07', '2024/06']
      Unenployment Rate  Population
year
2010           7.875000       62.76
2011           8.058333       63.29
2012           8.016667       63.71
2013           7.633333       64.11
2014           6.300000       64.60

ðŸ“„ Processing Sheet: Extra Unemployment Rate
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping Extra Unemployment Rate : Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Gov Total Expanse&Revenue
First 5 index values:
['2023/12', '2022/12', '2021/12', '2020/12', '2019/12']
      Expense  Revenue  Surplus or Deficit
year
2010   719.49   570.64             -148.85
2011   723.41   600.04             -123.37
2012   746.45   618.00             -128.45
2013   745.41   649.54              -95.87
2014   767.12   663.27             -103.85

ðŸ“„ Processing Sheet: Money Supply
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
                M1            M2  M2 YOY Growth Rate            M3  \
year
2010  1.094754e+06  2.090328e+06           12.900833  2.373002e+06
2011  1.085666e+06  2.075125e+06           -0.724167  2.327860e+06
2012  1.109667e+06  2.029024e+06           -2.215833  2.293525e+06
2013  1.220775e+06  2.086061e+06            2.815000  2.388605e+06
2014  1.327533e+06  2.076217e+06           -0.464167  2.374797e+06

      M3 YOY Growth Rate            M4  M4 YOY Growth Rate
year
2010            8.890833  2.194181e+06            9.597500
2011           -1.899167  2.140971e+06           -2.425833
2012           -1.459167  2.078094e+06           -2.920833
2013            4.150833  2.110935e+06            1.585833
2014           -0.569167  2.110913e+06            0.006667

ðŸ“„ Processing Sheet: Bonds
First 5 index values:
['2024/12', '2024/11', '2024/10', '2024/09', '2024/08']
        5 Year   10 Year   20 Year
year
2010  2.373333  3.612500  4.250000
2011  1.945833  3.120833  3.841667
2012  0.854167  1.906667  2.871667
2013  1.245833  2.445833  3.267500
2014  1.721667  2.610833  3.165833

ðŸ“„ Processing Sheet: CPI
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
            CPI  CPI Annual Growth Rate
year
2010  89.433333                3.291667
2011  93.425000                4.466667
2012  96.041667                2.808333
2013  98.508333                2.558333
2014  99.958333                1.458333

ðŸ“„ Processing Sheet: Economic Growth
First 5 index values:
['2025/01', '2024/12', '2024/11', '2024/10', '2024/09']
      GBP to USD Exchange Rate  Economic Growth Rate
year
2010                  1.542483                 2.250
2011                  1.609325                 1.125
2012                  1.592717                 1.500
2013                  1.566892                 1.800
2014                  1.645825                 3.200

ðŸ“„ Processing Sheet: Import_Export
First 5 index values:
['2024/10', '2024/09', '2024/08', '2024/07', '2024/06']
            Import        Export
year
2010  30441.666667  22158.000000
2011  33882.000000  25214.083333
2012  34252.833333  24869.250000
2013  35391.083333  24977.500000
2014  35024.583333  24097.750000

ðŸ“„ Processing Sheet: Seasonal Retail Sales
First 5 index values:
['2024/11', '2024/10', '2024/09', '2024/08', '2024/07']
      Retail Sale Volume Index  Revenue  Column1
year
2010                 82.933333   570.64      NaN
2011                 82.291667   600.04      NaN
2012                 82.541667   618.00  609.555
2013                 83.366667   649.54      NaN
2014                 86.266667   663.27      NaN

ðŸ“„ Processing Sheet: UK Home Retail
First 5 index values:
['Sep 2024', 'Aug 2024', 'Jul 2024', 'Jun 2024', 'May 2024']
âš ï¸ Skipping UK Home Retail: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: UK Building
First 5 index values:
['Q2 2024', 'Q1 2024', 'Q4 2023', 'Q3 2023', 'Q2 2023']
âš ï¸ Skipping UK Building: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: UK Affordability Index
First 5 index values:
['Q4 2020', 'Q3 2020', 'Q2 2020', 'Q1 2020', 'Q4 2019']
âš ï¸ Skipping UK Affordability Index: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: UK Rental Prices
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping UK Rental Prices: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Mortage
First 5 index values:
['Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024', 'Jul 2024']
âš ï¸ Skipping Mortage: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Construction Cost&Prices&Sales
First 5 index values:
['Q3 2024', 'Q2 2024', 'Q1 2024', 'Q4 2023', 'Q3 2023']
âš ï¸ Skipping Construction Cost&Prices&Sales: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Mortage interests rate
First 5 index values:
['Dec 2024', 'Nov 2024', 'Oct 2024', 'Sep 2024', 'Aug 2024']
âš ï¸ Skipping Mortage interests rate: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Company Revenues
First 5 index values:
['30-04-2024', '30-04-2023', '30-04-2022', '30-04-2021', '30-04-2020']
âš ï¸ Skipping Company Revenues: Index not in 'YYYY/MM' format.

ðŸ“„ Processing Sheet: Operating Expenses
First 5 index values:
['30-04-2024', '30-04-2023', '30-04-2022', '30-04-2021', '30-04-2020']
âš ï¸ Skipping Operating Expenses: Index not in 'YYYY/MM' format.

Now to get all date formats converted to aggregate data